<ul class="grid list-none grid-cols-1 md:grid-cols-3 xl:grid-cols-5">
  {% for release in releases %}
    <li class="mb-10">
      {% render releases, release: release %}
    </li>
  {% endfor %}
</ul>
