<ul class="grid grid-cols-1 gap-4 lg:grid-cols-3">
  {% for playlist in playlists %}
    <li class="post">
      <div class="px-2 md:px-0">
        <h2 class="mb-0">{{ playlist.title }}</h2>
        {% if playlist.url %}
          <div class="flex w-full">
            <a
              href="{{ playlist.url }}"
              class="link-primary truncate overflow-hidden font-mono text-sm whitespace-nowrap"
            >
              {{- playlist.url -}}
            </a>
          </div>
        {% endif %}
        <ol class="mt-2 pl-2">
          {% for track in playlist.tracks %}
            <li>{{ track }}</li>
          {% endfor %}
        </ol>
      </div>
      <hr class="my-5">
    </li>
  {% endfor %}
</ul>
