<div class="grid grid-cols-2 gap-0 md:grid-cols-4">
  <a
    href="/music/"
    class="{% if page.url contains '/music' %}bg-red-500 text-stone-50{% else %}hover:bg-red-500 hover:text-stone-50{% endif %} cursor-pointer border-b-4 border-r-4 border-stone-950 px-2 py-2 font-semibold"
    >Music Releases &rarr;</a
  >
  <a
    href="/video/"
    class="{% if page.url == '/video/' %}bg-red-500 text-stone-50{% else %}hover:bg-red-500 hover:text-stone-50{% endif %} cursor-pointer border-b-4 border-stone-950 px-2 py-2 font-semibold md:border-r-4"
    >Video Projects &rarr;</a
  >
  <a
    href="/subsidiaries/"
    class="{% if page.url == '/subsidiaries/' %}bg-red-500 text-stone-50{% else %}hover:bg-red-500 hover:text-stone-50{% endif %} cursor-pointer border-b-4 border-r-4 border-stone-950 px-2 py-2 font-semibold"
    >Subsidiaries &rarr;</a
  >
  <a
    href="/photography/"
    class="{% if page.url == '/photography/' %}bg-red-500 text-stone-50{% else %}hover:bg-red-500 hover:text-stone-50{% endif %} cursor-pointer border-b-4 border-stone-950 px-2 py-2 font-semibold"
    >Photography &rarr;</a
  >
  <a
    href="/blog/"
    class="{% if page.url == '/blog/' %}bg-red-500 text-stone-50{% else %}hover:bg-red-500 hover:text-stone-50{% endif %} cursor-pointer border-b-4 border-r-4 border-stone-950 px-2 py-2 font-semibold"
    >Blog &rarr;</a
  >
  <a
    href="/links/"
    class="{% if page.url == '/links/' %}bg-red-500 text-stone-50{% else %}hover:bg-red-500 hover:text-stone-50{% endif %} cursor-pointer border-b-4 border-stone-950 px-2 py-2 font-semibold md:border-r-4"
    >Links &rarr;</a
  >
  <a
    href="/mission/"
    class="{% if page.url == '/mission/' %}bg-red-500 text-stone-50{% else %}hover:bg-red-500 hover:text-stone-50{% endif %} cursor-pointer border-b-4 border-r-4 border-stone-950 px-2 py-2 font-semibold"
    >Our Mission &rarr;</a
  >
  <a
    href="/about/"
    class="{% if page.url == '/about/' %}bg-red-500 text-stone-50{% else %}hover:bg-red-500 hover:text-stone-50{% endif %} cursor-pointer border-b-4 border-stone-950 px-2 py-2 font-semibold"
    >About &rarr;</a
  >
</div>
