<nav class="container overflow-hidden border-l-4 border-r-4 border-solid border-slate-950 bg-slate-50">
  {% render spectrum %}
  {% render rule %}
  {% render path, site: site, page: page, path: path %}
  {% render rule %}
  {% render spectrum %}
  {% render rule %}
  {% render masthead %}
  {% render rule %}
  {% render globalNavigation, page: page %}
  {% render spectrum %}
  {% render rule %}
</nav>
