<nav class="container overflow-hidden border-l-4 border-r-4 border-solid border-stone-950">
  {% render fragments/rule %}
  {% render fragments/spectrum %}
  {% render fragments/rule %}
  {% render fragments/masthead %}
  {% render fragments/rule %}
  {% render fragments/globalNavigation page: page %}
  {% render fragments/spectrum %}
  {% render fragments/rule %}
</nav>
