<nav class="container mx-auto overflow-hidden bg-white text-black">
  {% render rule %}
  {% render spectrum %}
  {% render rule %}
  {% render masthead %}
  {% render rule %}
  <div class="grid grid-cols-2 gap-1 border-b-4 border-solid border-b-black bg-black md:grid-cols-4">
    {% for item in navigation %}
      {% assign is_active = false %}
      {% assign is_search = item.label == 'Search' %}
      {% if item.match == 'contains' and page.url contains item.url %}
        {% assign is_active = true %}
      {% elsif item.match == 'equals' and page.url == item.url %}
        {% assign is_active = true %}
      {% endif %}

      <a
        href="{{ item.url }}"
        class="flex  px-2 py-2 font-semibold {% if is_active %}bg-red-500 text-white underline{% else %}bg-white text-black hover:bg-red-500 hover:text-white hover:underline{% endif %}"
        {% if is_active %}
          aria-current="page"
        {% endif %}
      >
        {{ item.label }}
        {% if is_search %}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m5.231 13.481L15 17.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v16.5c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Zm3.75 11.625a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
          </svg>
        {% endif %}
      </a>
    {% endfor %}
  </div>
  {% render spectrum %}
</nav>
