{% assign path = site.META.CANONICAL | replace_last: '/', '' | append: page.url | append: path.url %}
<div class="bg-stone-950 font-mono text-stone-50">
  <a href="{{path}}" class="block hover:bg-yellow-300 hover:text-stone-950">
    {{ path }}
  </a>
</div>
