<a
  href="{{ post.url }}"
  class="block cursor-pointer border-4 border-solid border-transparent hover:border-red-500 hover:bg-red-500 hover:text-stone-50"
>
  <span class="font-semibold">{{ post.data.title }}</span>
  <br>
  <span class="text-sm text-stone-50 no-underline">{{ post.data.date | date: '%B %d, %Y' }}</span>
</a>
