<a
  href="{{ post.url }}"
  {% if thisPost %}
    class="block p-2 border-2 border-solid border-stone-950 bg-red-500 text-stone-50 underline"
  {% else %}
    class="block p-2 border-2 border-solid border-stone-950 bg-stone-50 hover:underline hover:bg-red-500 hover:text-stone-50"
  {% endif %}
>
  <span class="font-semibold">{{ post.data.title }}</span>
  <br>
  <span class="text-sm no-underline">{{ post.data.date | date: '%B %d, %Y' }}</span>
</a>
