<a
  href="/discography/{{ release.slug }}"
  class="group block cursor-pointer border-4 border-solid border-transparent p-4 text-center transition-colors hover:border-red-500 hover:bg-red-950"
>
  <img src="{{ release.cover_url }}" alt="{{ release.title }} Cover" class="h-auto w-full">
</a>
