<ol>
  {% for trackId in trackIds %}
    <li class="ellipses">
      {% assign displayIndex = forloop.index | padIndex %}
      <div class="font-mono text-sm text-gray-400">{{ displayIndex }}</div>
      <div class="ellipses-fill">&#8203;</div>
      <div>{{ trackId }}</div>
    </li>
  {% endfor %}
</ol>
