<div class="container-fluid about-container invert">
  <div class="row b bb">
    <article class="col-sm-12 col-md-4 px-0 py-3 bt br-md order-2 order-md-1">
      <p>My practice incorporates software, electronic music, writing, new media, design, photography, community organizing, and teaching.</p>
      <p>I hold a Bachelor of Fine Arts in graphic design from Columbia College Chicago.</p>
      <p><a href="https://bandcamp.us1.list-manage.com/subscribe?u=e82006751a8517b8fd440a182&id=68446b3abb" class="py-2 btn btn-primary">Signup for My Newsletter</a></p>
      <p class="text-center"><em>or</em></p>
      <p><a href="https://deusexmachina.company/assets/images/screaming-orchid.jpg" class="py-2 btn btn-primary">View My ProtonMail & Signal</a></p>
      <p>Visiting the above will display an image with distorted text.</p>
    </article>
    <div class="col-sm-12 col-md-8 px-0 b bt order-1 order-md-2">
      <img src="/assets/images/flare1-web.jpg" class="img-100" />
    </div>
  </div>
  <div class="row">
    <div class="col py-3 b bb">
      <h2 class="mb-0">Operational Dossier:</h2>
    </div>
  </div>
  <div class="row about-operations">
    <div class="col-sm-12 col-md-4 py-3 b bb br-md">
      <p><strong>Active</strong></p>
      <ul>
        <li><a href="https://output.com">Output</a>, <em>Senior Web Engineer (full time)</em></li>
        <li><a href="https://deusexmachina,company">DXMC</a>, <em>client services arm of Northern Information</em></li>
        <li>Continuum Hack, <em>forthcoming film with the <a href="https://www.stinerbros.com/">Stiner Brothers</a></em></li>
        <li><a href="https://cci.dev">Coral Carrier Incarnadine</a>, <em>passion project</em></li>
        <li><a href="https://github.com/monome/norns">norns</a>, <em>Contributor</em></li>
        <li><a href="https://twitch.tv/tyleretters">Twitch</a>, <em>music and code streams</em></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4 py-3 b bb br-md">
      <p><strong>Divesting</strong></p>
      <ul>
        <li><a href="https://flashcrash.net">FLASH CRASH</a>, <em>seeking community organizers &amp; VJs</em></li>
        <li><a href="https://github.com/northern-information/arcologies/">arcologies</a>, <em>seeking primary maintainer</em></li>
        <li><a href="https://github.com/northern-information/yggdrasil/">yggdrasil</a>, <em>seeking primary maintainer</em></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4 py-3 b bb">
      <p><strong>Iced</strong></p>
      <ul>
        <li><a href="https://stuxnet.me">Stuxnet</a>, <em>post-pandemic concept music</em></li>
        <li><a href="https://mapcorps.net">MAP CORPS</a>, <em>mapcore record label</em></li>
        <li><a href="https://sidereallobby.com">Sidereal Lobby</a>, <em>ape shall not kill ape</em></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col py-3 b bb">
      <h2 class="mb-0">Classified DXMC Operations:</h2>
    </div>
  </div>
  <div class="row about-operations b bb">
    <div class="col-sm-12 col-md-4 py-3 b br-md">
      <ul>
        <li>MARHIDE</li>
        <li>THREDA</li>
        <li>REDFALL</li>
      </ul>
    </div>
  </div>
</div>




