<nav class="container-fluid grid invert">
  <div class="row">
    <div class="col-sm-12 col-md-2 b bt bb-md br-md">
      <a href="/archives">
        <h3><span class="d-none d-md-inline-block">&nbsp;</span><br class="d-none d-md-inline-block">Archives</h3>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 b bt br-md bb-md earlier-post">
      {% if page.next.url %}
        {% assign url = page.next.url %}
        {% assign title = page.next.title %}
        {% assign date = page.next.date | date: "%b %-d, %Y" %}
      {% else %}
        {% assign url = site.posts.last.url %}
        {% assign title = site.posts.last.title %}
        {% assign date = site.posts.last.date | date: "%b %-d, %Y" %}
      {% endif %}
      <a href="{{ url }}">
        <h3><span class="d-none d-md-inline-block">&larr; {{ date }}</span><br>{{ title }}</h3>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 b bt br-md bb-md later-post">
      {% if page.previous.url %}
        {% assign url = page.previous.url %}
        {% assign title = page.previous.title %}
        {% assign date = page.previous.date | date: "%b %-d, %Y" %}
      {% else %}
        {% assign url = site.posts.first.url %}
        {% assign title = site.posts.first.title %}
        {% assign date = site.posts.first.date | date: "%b %-d, %Y" %}
      {% endif %}
      <a href="{{ url }}">
        <h3><span class="d-none d-md-inline-block">{{ date }} &rarr;</span><br>{{ title }}</h3>
      </a>
    </div>
    <div class="col-sm-12 col-md-2 b bt bb">
      <a href="/feed.xml">
        <h3><span class="d-none d-md-inline-block">XML Atom Feed</span><br class="d-none d-md-inline-block"><i class="fa-light fa-square-rss"></i> Subscribe</h3>
      </a>
    </div>
  </div>
</nav>