<nav class="container-fluid grid invert">
  <div class="row">
    <div class="col-sm-12 col-md-4 b bt br-md">
      <a href="/archives">
        <h3><span class="d-none d-md-inline-block">&nbsp;</span><br class="d-none d-md-inline-block">Archives</h3>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 b bt br-md">
      {% assign post = site.posts[3] %}
      {% assign url = post.url %}
      {% assign title = post.title %}
      {% assign date = post.date | date: "%b %-d, %Y" %}
      <a href="{{ url }}">
        <h3><span class="d-none d-md-inline-block">More</span><br>{{ title }}</h3>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 b bt">
      <a href="/feed.xml">
        <h3><span class="d-none d-md-inline-block">XML Atom Feed</span><br class="d-none d-md-inline-block"><i class="fa-light fa-square-rss"></i> Subscribe</h3>
      </a>
    </div>
  </div>
</nav>
<i class="fa-solid fa-square-rss"></i>