<div class="container-fluid">
  {% assign limit = 4 %}
  {% assign total = 0 %}
  {% assign counter = 1 %}
  {% for book in site.data.books %}
  {% if counter == 1 %}<div class="row">{% endif %}
    <div class="col-sm-12 col-md-4 px-3 py-3 b bb{% cycle " br-md", " br-md", "" %}">
        <div><h2>{{ book.title }}</h2>{{ book.content | markdownify }}</div>
    </div>
    {% assign total = total | plus: 1 %}
    {% assign counter = counter | plus: 1 %}
    {% if counter == limit %}
      {% assign counter = 1 %}
      </div> 
    {% elsif site.data.books.size == total %}
        <div class="col bb invert"></div>
      </div> 
    {% endif %}
  {% endfor %}
  </div>
 </div>