<footer class="container-fluid border-bottom">
  <div class="row">
    <div class="col pb-1 border-right border-bottom bg-spectrum"></div>
  </div>
  <div class="row">
    <div class="col col-md-6 px-0 border-right border-bottom">
      <p>Northern Information<br/>
        2008 &mdash; <time>{{ site.time | date: '%Y' }}</time>
      </p>
    </div>
    <div class="col col-md-6 px-0 border-right border-bottom">
      <p>Hash: <a href="https://github.com/tyleretters/nor.the-rn.info/commit/{{ site.data.build.hash }}">{{ site.data.build.hash }}</a><br/>
        Build time: <time>{{ site.data.build.time }}</time>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col pb-1 border-right border-bottom bg-spectrum"></div>
  </div>
  <div class="row final">
    <div class="col col-md-6 px-0">
      <p>Northern Information respects your digital sovereignty. Neither your personal data nor page views are harvested. Everything is <a href="https://github.com/tyleretters/nor.the-rn.info">open source</a> and freely shared with a <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 License</a>.</p>
      <p>cd LOST_DIR && ./DISAPPEAR</p>
   </div>
  </div>
</footer>