<footer class="container-fluid">
  <div class="row">
    <div class="col pb-1 border-right border-bottom bg-spectrum"></div>
  </div>
  <div class="row">
    <div class="col col-md-6 px-0 pt-1 border-right border-bottom">
      <p>Northern Information, LLC<br/>2008 &mdash; 2022</p>
    </div>
    <div class="col col-md-6 px-0 pt-1 border-right border-bottom">
      <p>This page was last built at: <br/>{{ site.time }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col pb-1 border-right border-bottom bg-spectrum"></div>
  </div>
  <div class="row final">
    <div class="col col-md-6 offset-md-6 px-0 border-right border-bottom">
      <p>Northern Information, LLC respects your digital sovereignty. I never track you and I never post paid content. Everything here is <a href="https://github.com/tyleretters/nor.the-rn.info">open source</a> and freely given with a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
    </div>
  </div>
</footer>