<div class="container-fluid">
  <div class="row invert">
    <div class="col-sm-12 col-md-5 bb br-md py-5">
      <a href="/blog">
        <div><h1>The moon sets, the batteries run dry, and a cold, dreamless sleep overcomes...</h1></div>
      </a>
    </div>
    <div class="col-sm-12 col-md-7 bb bg-white">
      <a href="/software#arcologies">
        <div><img src="/assets/images/arcologies.png" class="img-100" /></div>
      </a>
    </div>
  </div>
  <div class="row invert">
    <div class="col-sm-12 col-md-4 bb br-md px-0">
      <a href="/music">
        <div><img src="/assets/images/studio-2021.jpg" class="img-100" /></div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 bb br-md invert">
      <a href="https://deusexmachina.company">
        <div><img src="/assets/images/dxmc.png" class="img-100" /></div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 bb py-5">
      <a href="/playlists">
        <div><h1>The songs that have inspired, healed, and carried me.</h1></div>
      </a>
    </div>
  </div>
  <div class="row invert">
    <div class="col-sm-12 col-md-7 bb br-md bg-white">
     <a href="/music#as-sidereal-lobby">
        <div><img src="/assets/images/map-corps.png" class="img-100" /></div>
      </a>
    </div>
    <div class="col-sm-12 col-md-5 px-0 bb invert">
      <div class="container-fluid px-0">
        <div class="row">
          <div class="col bb">
            <a href="/software#yggdrasil">
              <div><img src="/assets/images/yggdrasil.png" class="img-100" /></div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="/about">
              <div><img src="/assets/images/tyler-etters-stuxnet.jpg" class="img-100" /></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>