<header class="container-fluid">
  <div class="row">
    <div class="col pb-1 border-right border-bottom bg-spectrum"></div>
  </div>
  <div class="row">
    <div class="col px-0 border-right northern-information">
      <a
        href="/"
        aria-label="Home"
        tabindex="0">
        <img src="/assets/images/applied-sciences-and-phantasms-working-division.png" alt="Northern Information Logo" />
        <h1>Northern<br/>Information</h1>
      </a>
    </div>
  </div>
  <div class="row">
    <a
      href="/blog"
      aria-label="Blog"
      class="col-6 col-md-3 border-right{% if page.url == '/blog' or page.id %} active{% endif %}"
      tabindex="0">
      <span>Blog</span>
    </a>
    <a
      href="/discography"
      aria-label="Discography"
      class="col-6 col-md-3 border-right{% if page.url contains '/discography'%} active{% endif %}"
      tabindex="0">
      <span>Discography</span>
    </a>
    <a
      href="/projects"
      aria-label="Projects"
      class="col-6 col-md-3 border-right{% if page.url contains '/projects'%} active{% endif %}"
      tabindex="0">
      <span>Projects</span>
    </a>
    <a
      href="/photography"
      aria-label="Photography"
      class="col-6 col-md-3 border-right{% if page.url contains '/photography'%} active{% endif %}"
      tabindex="0">
      <span>Photography</span>
    </a>
  </div>
  <div class="row">
    <a
      href="/about"
      aria-label="About"
      class="col-6 col-md-3 border-right{% if page.url contains '/about'%} active{% endif %}"
      tabindex="0">
      <span>About</span>
    </a>
    <a
      href="/philosophy"
      aria-label="Philosophy"
      class="col-6 col-md-3 border-right{% if page.url contains '/philosophy'%} active{% endif %}"
      tabindex="0">
      <span>Philosophy</span>
    </a>
    <a
      href="/playlists"
      aria-label="Playlists"
      class="col-6 col-md-3 border-right{% if page.url contains '/playlists'%} active{% endif %}"
      tabindex="0">
      <span>Playlists</span>
    </a>
    <a
      href="/links"
      aria-label="Links"
      class="col-6 col-md-3 border-right{% if page.url contains '/links'%} active{% endif %}"
      tabindex="0">
      <span>Links</span>
    </a>
  </div>
  <div class="row">
    <div class="col pb-1 border-right border-bottom bg-spectrum"></div>
  </div>
</header>