<header class="container-fluid pb-2">
  <div class="row">
    <div class="col">
      <div class="container-fluid px-0 mx-0">
        <div class="row">
          <div class="col bg-spectrum pb-1"></div>
        </div>
        <div class="row pt-2">
          <div class="col masthead">
            <a href="/" tabindex="1">
              <img src="/assets/images/eye.jpg"/>
              <h1>Northern<br/>Information,<br/>LLC</h1>
            </a>
            <a href="#nav" class="d-block d-md-none btn-menu">&#9776;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>