<header class="site-header">

  <div class="wrapper">
    <nav class="navbar navbar-expand-sm">

      <a href="{{ "/" | relative_url }}" alt="Northern Information"><img class="site-logo" src="{{ "/assets/images/northern-information.svg" }}" /></a>

      <button class="button-mobile collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars fa-lg"></i>
        <i class="fas fa-times fa-lg"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {%- assign sorted_pages = site.pages | sort: "order" -%}
          {%- for node in sorted_pages -%}
          {%- if node.title -%}
          <li class="{% if node.url == page.url %}active{% endif %}">
            <a class="nav-link" href="{{ node.url | relative_url }}">
            {% if node.url == page.url %}<span>&rarr;</span>{% endif %}
            {{ node.title | escape }}
            </a>
          </li>
          {%- endif -%}
          {%- endfor -%}
          <li><a class="nav-link" href="{{ "/feed.xml" | relative_url }}">Feed</a></li>
        </ul>
      </div>

    </nav>

  </div>

</header>
