<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include variables.html -%}
  <title>{{ page_title }}</title>

  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ site.url }}{{ site.og_image }}">
  <meta property="og:description" content="{{ page_excerpt }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.twitter_site }}">
  <meta name="twitter:creator" content="{{ site.twitter_creator }}">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:image:src" content="{{ site.url }}{{ site.twitter_image_src }}">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:description" content="{{ page_excerpt }}">

  <link rel="stylesheet" href="{{ "/assets/stylesheets/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="/assets/stylesheets/style.css?{{ site.time | date: '%s%N' }}">
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/apple-touch-icon.png">
  <link
    rel="mask-icon"
    href="/mask-icon.svg"
    color="#ffffff">
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/favicon-32x32.png">
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  {% feed_meta %}
</head>