<nav class="container-fluid invert">
  <div class="row">
    <div class="col-sm-12 col-md-4 b bt br-md">
      <a href="https://intertext.bandcamp.com" class="d-flex align-items-end pb-2 pt-4">
        <div><h3><i class="fab fa-bandcamp"></i> Intertext Bandcamp</h3></div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 b bt br-md">
      <a href="https://open.spotify.com/playlist/19xJZPyxM0LTiGyRda18cY?si=f93043a87bf34d6a" class="d-flex align-items-end pb-2 pt-4">
        <div><h3><i class="fab fa-spotify"></i> northern_information://dossier</h3></div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 b bt">
      <a href="https://soundcloud.com/tyleretters" class="d-flex align-items-end pb-2 pt-4">
        <div><h3><i class="fab fa-soundcloud"></i></i> @tyleretters</h3></div>
      </a>
    </div>
  </div>
</nav>