<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-4 b bb-md py-3 px-3">
      <div class="">
        <h1 id="{{ music.name | downcase | replace: " / ", "-" | replace: " ", "-" }}">{{ music.name }}</h1>
        <p>{{ music.dates }}</p>
        <p><a href="{{ music.url }}" class="btn">Explore</a></p>
        {{ music.content | markdownify }}
      </div>
    </div>
    <div class="col-sm-12 col-md-8 b bb pt-md-3 pb-3 pe-3 ps-3 ps-md-0">
      <div class="container-fluid px-0">
        <div class="row">
          {% assign release_by_order = music.releases | sort: "order" %}
          {% for release in release_by_order %}
          <div class="col-sm-12 col-md-4 mb-3">
            <a href="/assets/images/{{ release.image }}"><img src="/assets/images/{{ release.image }}" class="img-100 mb-2" /></a>
              <a href="{{ release.url }}" class="btn d-block mb-2"> Listen</a>
            <p><strong>{{ release.title }}</strong>, {{ release.year }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>