<nav class="container-fluid grid invert">
  <div class="row">
    <div class="col-sm-12 col-md-4 b bt br-md">
      <a href="https://intertext.bandcamp.com">
        <h3><i class="fab fa-bandcamp"></i> Intertext Bandcamp</h3>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 b bt br-md">
      <a href="https://open.spotify.com/playlist/19xJZPyxM0LTiGyRda18cY?si=f93043a87bf34d6a">
        <h3><i class="fab fa-spotify"></i> northern_information://dossier</h3>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 b bt">
      <a href="https://soundcloud.com/tyleretters">
        <h3><i class="fab fa-soundcloud"></i> @tyleretters</h3>
      </a>
    </div>
  </div>
</nav>