<nav class="container-fluid invert">
  <div class="row">
    <div class="col-sm-12 col-md-4 b bt br-md">
      <a href="https://github.com/northern-information" class="d-flex align-items-end pb-2 pt-4">
        <div><h3><i class="fab fa-github"></i> Northern Information</h3></div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 b bt br-md">
      <a href="https://github.com/norns-study-group" class="d-flex align-items-end pb-2 pt-4">
        <div><h3><i class="fab fa-github"></i> norns study group</h3></div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 b bt">
      <a href="https://github.com/tyleretters" class="d-flex align-items-end pb-2 pt-4">
        <div><h3><i class="fab fa-github"></i> @tyleretters</h3></div>
      </a>
    </div>
  </div>
</nav>