<nav class="container-fluid grid invert">
  <div class="row">
    <div class="col-sm-12 col-md-4 b bt br-md">
      <a href="https://github.com/northern-information">
        <h3><i class="fab fa-github"></i> Northern Information, LLC</h3>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 b bt br-md">
      <a href="https://github.com/norns-study-group">
        <h3><i class="fab fa-github"></i> norns study group</h3>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 b bt">
      <a href="https://github.com/tyleretters">
        <h3><i class="fab fa-github"></i> @tyleretters</h3>
      </a>
    </div>
  </div>
</nav>