.pagefind-ui__result.svelte-j9e30.svelte-j9e30 {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  gap: min(calc(40px * var(--pagefind-ui-scale)), 3%);
  padding: calc(30px * var(--pagefind-ui-scale)) 0
    calc(40px * var(--pagefind-ui-scale));
  border-top: solid var(--pagefind-ui-border-width) var(--pagefind-ui-border);
}

.pagefind-ui__result.svelte-j9e30.svelte-j9e30:last-of-type {
  border-bottom: solid var(--pagefind-ui-border-width) var(--pagefind-ui-border);
}

.pagefind-ui__result-thumb.svelte-j9e30.svelte-j9e30 {
  width: min(30%, calc((30% - (100px * var(--pagefind-ui-scale))) * 100000));
  max-width: calc(120px * var(--pagefind-ui-scale));
  margin-top: calc(10px * var(--pagefind-ui-scale));
  aspect-ratio: var(--pagefind-ui-image-box-ratio);
  position: relative;
}

.pagefind-ui__result-image.svelte-j9e30.svelte-j9e30 {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
}

.pagefind-ui__result-inner.svelte-j9e30.svelte-j9e30 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(10px * var(--pagefind-ui-scale));
}

.pagefind-ui__result-title.svelte-j9e30.svelte-j9e30 {
  display: inline-block;
  font-weight: 700;
  font-size: calc(21px * var(--pagefind-ui-scale));
  margin-top: 0;
  margin-bottom: 0;
}

.pagefind-ui__result-title.svelte-j9e30 .pagefind-ui__result-link.svelte-j9e30 {
  color: var(--pagefind-ui-text);
  text-decoration: none;
}

.pagefind-ui__result-title.svelte-j9e30
  .pagefind-ui__result-link.svelte-j9e30:hover {
  text-decoration: underline;
}

.pagefind-ui__result-excerpt.svelte-j9e30.svelte-j9e30 {
  display: inline-block;
  font-weight: 400;
  font-size: calc(16px * var(--pagefind-ui-scale));
  margin-top: calc(4px * var(--pagefind-ui-scale));
  margin-bottom: 0;
  min-width: calc(250px * var(--pagefind-ui-scale));
}

.pagefind-ui__loading.svelte-j9e30.svelte-j9e30 {
  color: var(--pagefind-ui-text);
  background-color: var(--pagefind-ui-text);
  border-radius: 0;
  opacity: 0.1;
  pointer-events: none;
}

.pagefind-ui__result.svelte-4xnkmf.svelte-4xnkmf {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  gap: min(calc(40px * var(--pagefind-ui-scale)), 3%);
  padding: calc(30px * var(--pagefind-ui-scale)) 0
    calc(40px * var(--pagefind-ui-scale));
  border-top: solid var(--pagefind-ui-border-width) var(--pagefind-ui-border);
}

.pagefind-ui__result.svelte-4xnkmf.svelte-4xnkmf:last-of-type {
  border-bottom: solid var(--pagefind-ui-border-width) var(--pagefind-ui-border);
}

.pagefind-ui__result-nested.svelte-4xnkmf.svelte-4xnkmf {
  display: flex;
  flex-direction: column;
  padding-left: calc(20px * var(--pagefind-ui-scale));
}

.pagefind-ui__result-nested.svelte-4xnkmf.svelte-4xnkmf:first-of-type {
  padding-top: calc(10px * var(--pagefind-ui-scale));
}

.pagefind-ui__result-nested.svelte-4xnkmf
  .pagefind-ui__result-link.svelte-4xnkmf {
  font-size: 0.9em;
  position: relative;
}

.pagefind-ui__result-nested.svelte-4xnkmf
  .pagefind-ui__result-link.svelte-4xnkmf:before {
  content: '\2937  ';
  position: absolute;
  top: 0;
  right: calc(100% + 0.1em);
}

.pagefind-ui__result-thumb.svelte-4xnkmf.svelte-4xnkmf {
  width: min(30%, calc((30% - (100px * var(--pagefind-ui-scale))) * 100000));
  max-width: calc(120px * var(--pagefind-ui-scale));
  margin-top: calc(10px * var(--pagefind-ui-scale));
  aspect-ratio: var(--pagefind-ui-image-box-ratio);
  position: relative;
}

.pagefind-ui__result-image.svelte-4xnkmf.svelte-4xnkmf {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
}

.pagefind-ui__result-inner.svelte-4xnkmf.svelte-4xnkmf {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(10px * var(--pagefind-ui-scale));
}

.pagefind-ui__result-title.svelte-4xnkmf.svelte-4xnkmf {
  display: inline-block;
  font-weight: 700;
  font-size: calc(21px * var(--pagefind-ui-scale));
  margin-top: 0;
  margin-bottom: 0;
}

.pagefind-ui__result-title.svelte-4xnkmf
  .pagefind-ui__result-link.svelte-4xnkmf {
  color: var(--pagefind-ui-text);
  text-decoration: none;
}

.pagefind-ui__result-title.svelte-4xnkmf
  .pagefind-ui__result-link.svelte-4xnkmf:hover {
  text-decoration: underline;
}

.pagefind-ui__result-excerpt.svelte-4xnkmf.svelte-4xnkmf {
  display: inline-block;
  font-weight: 400;
  font-size: calc(16px * var(--pagefind-ui-scale));
  margin-top: calc(4px * var(--pagefind-ui-scale));
  margin-bottom: 0;
  min-width: calc(250px * var(--pagefind-ui-scale));
}

.pagefind-ui__loading.svelte-4xnkmf.svelte-4xnkmf {
  color: var(--pagefind-ui-text);
  background-color: var(--pagefind-ui-text);
  border-radius: 0;
  opacity: 0.1;
  pointer-events: none;
}

legend.svelte-1v2r7ls.svelte-1v2r7ls {
  position: absolute;
  clip: rect(0 0 0 0);
}

.pagefind-ui__filter-panel.svelte-1v2r7ls.svelte-1v2r7ls {
  min-width: min(calc(260px * var(--pagefind-ui-scale)), 100%);
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: calc(20px * var(--pagefind-ui-scale));
}

.pagefind-ui__filter-group.svelte-1v2r7ls.svelte-1v2r7ls {
  border: 0;
  padding: 0;
}

.pagefind-ui__filter-block.svelte-1v2r7ls.svelte-1v2r7ls {
  padding: 0;
  display: block;
  border-bottom: solid calc(2px * var(--pagefind-ui-scale))
    var(--pagefind-ui-border);
  padding: calc(20px * var(--pagefind-ui-scale)) 0;
}

.pagefind-ui__filter-name.svelte-1v2r7ls.svelte-1v2r7ls {
  font-size: calc(16px * var(--pagefind-ui-scale));
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 700;
  cursor: pointer;
  height: calc(24px * var(--pagefind-ui-scale));
}

.pagefind-ui__filter-name.svelte-1v2r7ls.svelte-1v2r7ls::-webkit-details-marker {
  display: none;
}

.pagefind-ui__filter-name.svelte-1v2r7ls.svelte-1v2r7ls:after {
  position: absolute;
  content: '';
  right: calc(6px * var(--pagefind-ui-scale));
  top: 50%;
  width: calc(8px * var(--pagefind-ui-scale));
  height: calc(8px * var(--pagefind-ui-scale));
  border: solid calc(2px * var(--pagefind-ui-scale)) currentColor;
  border-right: 0;
  border-top: 0;
  transform: translateY(-70%) rotate(-45deg);
}

.pagefind-ui__filter-block[open].svelte-1v2r7ls
  .pagefind-ui__filter-name.svelte-1v2r7ls:after {
  transform: translateY(-70%) rotate(-225deg);
}

.pagefind-ui__filter-group.svelte-1v2r7ls.svelte-1v2r7ls {
  display: flex;
  flex-direction: column;
  gap: calc(20px * var(--pagefind-ui-scale));
  padding-top: calc(30px * var(--pagefind-ui-scale));
}

.pagefind-ui__filter-value.svelte-1v2r7ls.svelte-1v2r7ls {
  position: relative;
  display: flex;
  align-items: center;
  gap: calc(8px * var(--pagefind-ui-scale));
}

.pagefind-ui__filter-value.svelte-1v2r7ls.svelte-1v2r7ls:before {
  position: absolute;
  content: '';
  top: 50%;
  left: calc(8px * var(--pagefind-ui-scale));
  width: 0px;
  height: 0px;
  border: solid 1px #fff;
  opacity: 0;
  transform: translate(
      calc(4.5px * var(--pagefind-ui-scale) * -1),
      calc(0.8px * var(--pagefind-ui-scale))
    )
    skew(-5deg) rotate(-45deg);
  transform-origin: top left;
  border-top: 0;
  border-right: 0;
  pointer-events: none;
}

.pagefind-ui__filter-value.pagefind-ui__filter-value--checked.svelte-1v2r7ls.svelte-1v2r7ls:before {
  opacity: 1;
  width: calc(9px * var(--pagefind-ui-scale));
  height: calc(4px * var(--pagefind-ui-scale));
  transition:
    width 0.1s ease-out 0.1s,
    height 0.1s ease-in;
}

.pagefind-ui__filter-checkbox.svelte-1v2r7ls.svelte-1v2r7ls {
  margin: 0;
  width: calc(16px * var(--pagefind-ui-scale));
  height: calc(16px * var(--pagefind-ui-scale));
  border: solid 1px var(--pagefind-ui-border);
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: var(--pagefind-ui-background);
  cursor: pointer;
}

.pagefind-ui__filter-checkbox.svelte-1v2r7ls.svelte-1v2r7ls:checked {
  background-color: var(--pagefind-ui-primary);
  border: solid 1px var(--pagefind-ui-primary);
}

.pagefind-ui__filter-label.svelte-1v2r7ls.svelte-1v2r7ls {
  cursor: pointer;
  font-size: calc(16px * var(--pagefind-ui-scale));
  font-weight: 400;
}

.pagefind-ui--reset
  *:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
  outline: revert;
}

.pagefind-ui--reset *,
.pagefind-ui--reset *:before,
.pagefind-ui--reset *:after {
  box-sizing: border-box;
}

.pagefind-ui--reset a,
.pagefind-ui--reset button {
  cursor: revert;
}

.pagefind-ui--reset ol,
.pagefind-ui--reset ul,
.pagefind-ui--reset menu {
  list-style: none;
}

.pagefind-ui--reset img {
  max-width: 100%;
}

.pagefind-ui--reset table {
  border-collapse: collapse;
}

.pagefind-ui--reset input,
.pagefind-ui--reset textarea {
  -webkit-user-select: auto;
}

.pagefind-ui--reset textarea {
  white-space: revert;
}

.pagefind-ui--reset meter {
  -webkit-appearance: revert;
  appearance: revert;
}

.pagefind-ui--reset ::placeholder {
  color: unset;
}

.pagefind-ui--reset :where([hidden]) {
  display: none;
}

.pagefind-ui--reset :where([contenteditable]:not([contenteditable='false'])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

.pagefind-ui--reset :where([draggable='true']) {
  -webkit-user-drag: element;
}

.pagefind-ui--reset mark {
  all: revert;
}

:root {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: #393939;
  --pagefind-ui-text: #0c0a09;
  --pagefind-ui-background: #ffffff;
  --pagefind-ui-border: #eeeeee;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 0;
  --pagefind-ui-image-border-radius: 0;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font:
    system, -apple-system, 'BlinkMacSystemFont', '.SFNSText-Regular',
    'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande',
    'Ubuntu', 'arial', sans-serif;
}

.pagefind-ui.svelte-e9gkc3 {
  width: 100%;
  color: var(--pagefind-ui-text);
  font-family: var(--pagefind-ui-font);
}

.pagefind-ui__hidden.svelte-e9gkc3 {
  display: none !important;
}

.pagefind-ui__suppressed.svelte-e9gkc3 {
  opacity: 0;
  pointer-events: none;
}

.pagefind-ui__form.svelte-e9gkc3 {
  position: relative;
  max-width: 600px;
  margin: auto;
}

.pagefind-ui__form.svelte-e9gkc3:before {
  display: none;
}

.pagefind-ui__search-input.svelte-e9gkc3.svelte-e9gkc3 {
  height: calc(64px * var(--pagefind-ui-scale));
  padding: 0 !important;
  background-color: #0c0a09;
  border: none;
  border-radius: 0;
  font-size: calc(21px * var(--pagefind-ui-scale));
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  font-weight: 700;
  color: #ffffff;
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid #ef4444;
  text-align: center;
}

.pagefind-ui__search-input.svelte-e9gkc3::placeholder {
  opacity: 1;
  color: #ffffff;
  transition: color 0.15s;
}

.pagefind-ui__search-input.svelte-e9gkc3:focus::placeholder {
  color: transparent;
}

.pagefind-ui__search-clear.svelte-e9gkc3 {
  display: none;
}

.pagefind-ui__search-clear.svelte-e9gkc3:hover {
  color: #ef4444;
  background-color: #ffffff;
}

.pagefind-ui__drawer.svelte-e9gkc3 {
  gap: calc(60px * var(--pagefind-ui-scale));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 10px;
  margin-top: 10px;
}

.pagefind-ui__results-area.svelte-e9gkc3 {
  min-width: min(calc(400px * var(--pagefind-ui-scale)), 100%);
  flex: 1000;
}

.pagefind-ui__results.svelte-e9gkc3 {
  padding: 0;
}

.pagefind-ui__message.svelte-e9gkc3 {
  box-sizing: content-box;
  font-size: calc(16px * var(--pagefind-ui-scale));
  height: calc(24px * var(--pagefind-ui-scale));
  padding: calc(20px * var(--pagefind-ui-scale)) 0;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-top: 0;
}

.pagefind-ui__button.svelte-e9gkc3 {
  margin-top: calc(40px * var(--pagefind-ui-scale));
  height: calc(48px * var(--pagefind-ui-scale));
  padding: 0 calc(12px * var(--pagefind-ui-scale));
  font-size: calc(16px * var(--pagefind-ui-scale));
  color: #ffffff;
  background: #ef4444;
  width: 100%;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid #ef4444;
}

.pagefind-ui__button.svelte-e9gkc3:hover {
  color: #ef4444;
  background: #ffffff;
}
