@import 'tailwindcss';

@layer base {
  body {
    @apply bg-black text-stone-100;
  }

  p {
    @apply mb-1;
  }

  .av {
    @apply mt-1;

    iframe,
    img,
    video {
      @apply mb-1 h-auto w-full;
    }
  }

  .post,
  .release {
    blockquote,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    iframe,
    img,
    ol,
    p,
    pre,
    ul {
      @apply mb-5;
    }
  }

  .post {
    a {
      @apply text-yellow-300 underline hover:text-white hover:no-underline;
    }

    blockquote {
      @apply ml-2 border-l border-white pl-4 italic;

      p {
        @apply mb-5;
      }
    }

    pre {
      @apply ml-2 border-l border-white pl-4 text-red-400;
    }

    code {
      @apply text-red-400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-2xl font-bold;
    }

    img {
      @apply h-auto w-full;
    }

    ol,
    ul {
      @apply ml-6 list-outside;
    }

    ol {
      @apply list-decimal;
    }

    ul {
      @apply list-disc;
    }

    li,
    p {
      @apply max-w-[600px] text-lg leading-8;
    }
  }

  li.ellipses {
    @apply flex items-baseline justify-between gap-2;

    .ellipses-fill {
      @apply relative grow text-sm;
      &::before {
        content: '....................................................................................................................................................................................';
        @apply absolute top-1/2 left-0 h-full w-full -translate-y-1/2 overflow-hidden whitespace-nowrap text-white;
      }
    }
  }

  ::selection {
    @apply bg-yellow-300 text-black;
  }
}

@layer utilities {
  .spectrum {
    background: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      lime,
      cyan,
      blue,
      indigo,
      violet,
      white,
      black
    );
    background-size: 600% 600%;
    animation: spectrumAnimation 48s linear infinite;
  }

  @keyframes spectrumAnimation {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .bg-four-oh-four {
    background-image: url('/images/crown-via-phill-c-on-yelp.jpg');
  }
}
