@import 'tailwindcss';

@layer base {
  @font-face {
    font-family: 'GoudyTextMTStd';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/GoudyTextMTStd.woff2') format('woff2');
  }

  body {
    @apply bg-stone-950;
  }

  .ni-container {
    @apply container mx-auto overflow-hidden
  }

  p {
    @apply mb-1;
  }

  .av {
    @apply mt-1
  }

  .av iframe,
  .av img,
  .av video {
    @apply mb-1 h-auto w-full;
  }

  .post h1,
  .post h2,
  .post h3,
  .post h4,
  .post h5,
  .post h6,
  .post iframe,
  .post img,
  .post hr,
  .post li,
  .post p {
    @apply mb-4;
  }

  .post a {
    @apply text-blue-700 underline hover:text-blue-900 hover:no-underline;
  }

  .post blockquote {
    @apply border-l-[1px] border-solid border-stone-500 pl-2 italic;
  }

  .post h1,
  .post h2,
  .post h3,
  .post h4,
  .post h5,
  .post h6 {
    @apply text-2xl font-bold;
  }

  .post img {
    @apply h-auto w-full;
  }

  .post ol {
    @apply list-inside list-decimal pl-2;
  }

  .post ul {
    @apply list-inside list-disc pl-2;
  }

  .post p {
    @apply max-w-[700px] leading-[1.4rem] font-[1.1rem];
  }

  ::selection {
    @apply bg-yellow-300 text-stone-950;
  }
}

@layer utilities {
  .spectrum {
    background: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      lime,
      cyan,
      blue,
      indigo,
      violet,
      white,
      black
    );
    background-size: 600% 600%;
    animation: spectrumAnimation 48s linear infinite;
  }

  @keyframes spectrumAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .bg-four-oh-four {
    background-image: url('/images/crown-via-phill-c-on-yelp.jpg');
  }
}

/* SAFELIST */
@layer utilities {
  @media (min-width: 768px) {
    .md\:border-r-4 {
      border-right-width: 4px;
    }
  }
}
