@import 'tailwindcss';

@layer base {
  body {
    @apply bg-black text-stone-100;
  }

  p {
    @apply mb-1;
  }

  .av {
    @apply mt-1;

    iframe,
    img,
    video {
      @apply mb-1 h-auto w-full;
    }
  }

  .post,
  .release {
    blockquote,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    iframe,
    img,
    ol,
    p,
    pre,
    ul {
      @apply mb-5;
    }
  }

  .post {
    a {
      @apply text-yellow-300 underline hover:text-yellow-500 hover:no-underline;
    }

    blockquote {
      @apply ml-2 border-l border-white pl-4 italic;

      p {
        @apply mb-5;
      }
    }

    pre {
      @apply ml-2 border-l border-white pl-4 text-red-400;
    }

    code {
      @apply text-red-400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-2xl font-bold;
    }

    img {
      @apply h-auto w-full;
    }

    ol,
    ul {
      @apply ml-6 list-outside;
    }

    ol {
      @apply list-decimal;
    }

    ul {
      @apply list-disc;
    }

    li,
    p {
      @apply max-w-[600px] text-lg leading-8;
    }
  }

  li.ellipses {
    @apply flex items-baseline justify-between gap-2;

    .ellipses-fill {
      @apply relative grow text-sm;
      &::before {
        content: '....................................................................................................................................................................................';
        @apply absolute top-1/2 left-0 h-full w-full -translate-y-1/2 overflow-hidden whitespace-nowrap text-gray-500;
      }
    }
  }

  ::selection {
    @apply bg-yellow-300 text-black;
  }
}

@layer utilities {
  .grain,
  .grain-hover {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      opacity: 0;
      pointer-events: none;
      mix-blend-mode: hard-light;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.8' numOctaves='4' stitchTiles='stitch'/%3E%3CfeComponentTransfer%3E%3CfeFuncR type='discrete' tableValues='0 1'/%3E%3CfeFuncG type='discrete' tableValues='0 1'/%3E%3CfeFuncB type='discrete' tableValues='0 1'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E");
      background-repeat: repeat;
      transition: opacity 0.2s ease;
    }

    &:hover::after {
      opacity: 0.35;
      animation: grain 0.12s steps(1) infinite;
    }
  }

  .grain::after {
    opacity: 0.35;
    animation: grain 0.12s steps(1) infinite;
  }

  @keyframes grain {
    0%,
    100% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(-2%, -4%);
    }
    20% {
      transform: translate(-6%, 2%);
    }
    30% {
      transform: translate(3%, -8%);
    }
    40% {
      transform: translate(-2%, 8%);
    }
    50% {
      transform: translate(-6%, 4%);
    }
    60% {
      transform: translate(6%, 0%);
    }
    70% {
      transform: translate(0%, 6%);
    }
    80% {
      transform: translate(1%, 12%);
    }
    90% {
      transform: translate(-4%, 4%);
    }
  }

  .spectrum {
    background: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      lime,
      cyan,
      blue,
      indigo,
      violet,
      white,
      black
    );
    background-size: 600% 600%;
    animation: spectrumAnimation 48s linear infinite;
  }

  @keyframes spectrumAnimation {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .bg-four-oh-four {
    background-image: url('/images/crown-via-phill-c-on-yelp.jpg');
  }

  .burn {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.4) 25%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
