body {
  font-family: "Rubik", sans-serif; }

p {
  overflow: hidden; }

a, a:link, a:visited, a:active {
  color: #0687f5;
  text-decoration: underline; }

a:hover {
  color: #034279; }

a.about-link {
  color: #ffffff;
  background: #333333;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 16px;
  padding: 10px 0 10px 0;
  text-decoration: none; }

a:hover.about-link {
  color: #ffffff;
  background: #034279; }

::selection {
  color: #ffffff;
  background: #0687f5; }

blockquote {
  border-left: 2px solid #0687f5;
  padding-left: 20px; }
  blockquote p {
    font-size: 1rem;
    color: #333333; }

.max-clipboard {
  display: none;
  margin-bottom: 20px; }
  .max-clipboard p span {
    display: none;
    color: #0687f5; }
  .max-clipboard pre {
    background: #333333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px; }
    .max-clipboard pre.code-copied {
      background: #0687f5; }
    .max-clipboard pre code.language-max {
      color: #ffffff;
      font-size: 10px;
      line-height: 0px; }

.code-copied {
  -webkit-animation: backgroundanimation 2s linear forwards;
  animation: backgroundanimation 2s linear forwards; }

@-webkit-keyframes backgroundanimation {
  0% {
    background-color: #0687f5; }
  100% {
    background-color: #333333; } }
@keyframes backgroundanimation {
  0% {
    background-color: #0687f5; }
  100% {
    background-color: #333333; } }
.fade-in-out {
  -webkit-animation: fadeinout 2s linear forwards;
  animation: fadeinout 2s linear forwards; }

@-webkit-keyframes fadeinout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeinout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/**
 * Navbar
 */
.site-logo {
  float: left;
  width: 150px;
  height: 70px; }

.fa-bars, .fa-times {
  color: #ffffff; }

.button-mobile {
  cursor: pointer;
  display: none;
  background: none;
  border-radius: 0;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px; }
  .button-mobile i {
    float: right; }
  .button-mobile:focus {
    outline: none; }
  .button-mobile .fa-times {
    display: block; }
  .button-mobile .fa-bars {
    display: none; }
  .button-mobile.collapsed .fa-times {
    display: none; }
  .button-mobile.collapsed .fa-bars {
    display: block; }

.navbar {
  background: url("images/nav-bg.jpg");
  background-size: contain;
  padding: 1.5rem 15px 1rem 15px;
  border-bottom: 2px solid #212529;
  align-items: baseline; }

nav .navbar-nav li {
  margin-left: 16px; }
  nav .navbar-nav li a {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none; }
  nav .navbar-nav li a:hover {
    text-decoration: underline; }
  nav .navbar-nav li span {
    display: none; }
  nav .navbar-nav li.active span {
    display: inline; }

@media (max-width: 575.98px) {
  .navbar {
    align-items: center; }

  .site-logo {
    width: 75px;
    height: 35px; }

  .button-mobile {
    display: block; }

  nav ul.navbar-nav {
    margin-top: 10px; }

  nav .navbar-nav li {
    margin-left: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center; }
    nav .navbar-nav li.active span {
      display: inline; }
    nav .navbar-nav li.active .nav-link,
    nav .navbar-nav li .nav-link {
      color: #212529;
      background-color: #ffffff; }
      nav .navbar-nav li.active .nav-link:hover, nav .navbar-nav li.active .nav-link:active,
      nav .navbar-nav li .nav-link:hover,
      nav .navbar-nav li .nav-link:active {
        color: #ffffff;
        background: #034279; }
    nav .navbar-nav li a {
      padding: 10px 0 10px 0; }
      nav .navbar-nav li a:hover, nav .navbar-nav li a:active {
        text-decoration: none; } }
.container-fluid {
  padding-top: 30px;
  padding-bottom: 30px; }
  .container-fluid ul, .container-fluid ol {
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0; }
    .container-fluid ul li, .container-fluid ol li {
      margin: 0 0 10px 0; }
  .container-fluid article.post ul {
    list-style-type: disc; }
  .container-fluid article.post ol {
    list-style-type: decimal-leading-zero; }
  .container-fluid article.post ul, .container-fluid article.post ol {
    border-left: 2px solid #0687f5;
    padding-left: 20px;
    margin: 20px 0 20px 0; }
    .container-fluid article.post ul li, .container-fluid article.post ol li {
      margin: 0 0 20px 0; }

.post, .col, .col-md-4, .col-md-6, .col-md-8 {
  margin-bottom: 50px; }

.post {
  margin-bottom: 200px; }

.col-tighten {
  margin-bottom: 20px; }
  .col-tighten a {
    margin-bottom: 0; }

#related-projects {
  margin-top: 50px; }

h1, h2 {
  margin-top: 20px; }

.post h1 {
  border-bottom: 2px solid #333333; }

.post-content img {
  width: 100%; }

.post-meta {
  color: #333333; }

.earlier-post,
.later-post {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center; }
  .earlier-post a,
  .later-post a {
    color: #ffffff;
    background-color: #333333;
    display: block;
    padding: 10px 0 10px 0; }
    .earlier-post a:hover, .earlier-post a:active,
    .later-post a:hover,
    .later-post a:active {
      color: #ffffff;
      background: #034279;
      text-decoration: none; }

button.btn-max {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
  display: block;
  padding: 10px; }
  button.btn-max:hover, button.btn-max:active {
    color: #ffffff;
    background: #034279;
    text-decoration: none; }

.max-clipboard p {
  padding: 10px;
  margin: 0px; }

.container-fluid .aux ul li {
  margin-bottom: 20px; }
  .container-fluid .aux ul li em {
    color: #b3b3b3; }

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline; }

#life {
  width: 200px;
  height: 200px;
  margin: 0 auto 1rem auto;
  display: block; }

.cell {
  font-size: 64px;
  line-height: 0px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  float: left; }
  .cell[data-toggle='0'] {
    color: #ffffff; }
  .cell[data-toggle='1'] {
    color: #0687f5; }

.cell-row {
  height: 20px; }

#next {
  display: none; }

#ui {
  font-family: monospace;
  text-align: center; }

.row-music a {
  text-decoration: none; }
.row-music .container-fluid {
  padding-top: 0; }

.row-music em,
.row-travel em {
  color: #b3b3b3; }
.row-music div,
.row-travel div {
  margin-bottom: 50px; }

.row-music img,
.row-travel img,
.row-about img {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
