/**
 * VARIABLES
 * VARIABLES
 * VARIABLES
 * VARIABLES
 * VARIABLES
 */

$black: #212529
$white: #ffffff
$grey: #565f68
$light-grey: #d0d4d9
$blue: #0687f5
$inverted-blue: #f9780a
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
$monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

/**
 * CORE
 * CORE
 * CORE
 * CORE
 * CORE
 */

body
  color: $black
  background: $black
  font-family: $sans-serif

.gesso
  background: $white

h1, h2
  font-size: 2rem
  line-height: 2.2rem
  font-weight: 500

h3
  font-size: 1.3rem
  line-height: 1.3rem
  font-weight: 500

h4
  font-size: 1rem
  line-height: 1.3rem
  font-weight: 500

p, li, time
  font-size: 1rem
  line-height: 1.3rem
  font-weight: 400

ul
  list-style: none
  margin: 0
  padding: 0

li
  margin: 0

pre, code
  font-family: $monospace

.img-100
  width: 100%
  margin: auto
  display: block

::selection
  background: $blue
  color: $white

.invert
  background: $black

  h1, h2, h3, p, time, li
    color: $white

  a, a:link, a:visited
    color: $inverted-blue

  a:hover, a:active
    color: lighten($inverted-blue, 30%)

  .bb, .bt, .br, .bb-md, .bb-bt, .br-md
    border-color: $white

h1.page-title
  font-size: 2rem

.btn
  padding: 0 1rem 0 1rem
  border: 2px solid $blue
  border-radius: 0
  color: $blue
  text-decoration: underline
  font-weight: 500
  transition: none

  &:hover
    color: $white
    background: $blue

.btn-unavailable
  border: 2px solid $black
  background: $black
  color: $white
  text-decoration: none
  cursor: not-allowed

  &:hover
    color: $white
    background: $black

.invert
  a.btn
    background-color: $inverted-blue
    border-color: $inverted-blue
    color: $black

    &:hover,
    &:active
      background-color: $black
      color: $inverted-blue  


  .btn-primary
    display: block
    

.overflow-visible
  overflow: visible

.calc-gutter
  padding-right: calc(var(--bs-gutter-x) * .5)
  padding-left: calc(var(--bs-gutter-x) * .5)

/**
 * INDEX
 * INDEX
 * INDEX
 * INDEX
 * INDEX
 */

.lost
  font-family: $monospace
  font-size: 2rem
  line-height: 2rem

@media (min-width: 576px)
  .lost
    font-size: 3rem
    line-height: 3rem

// md
@media (min-width: 768px)
  .lost
    font-size: 4rem
    line-height: 4rem

// lg
@media (min-width: 992px)
  .lost
    font-size: 5rem
    line-height: 5rem

// xl
@media (min-width: 1200px)
  .lost
    font-size: 6rem
    line-height: 6rem

// xxl
@media (min-width: 1400px)
  

/**
 * ARTICLE
 * ARTICLE
 * ARTICLE
 * ARTICLE
 * ARTICLE
 */

article

  h1
    font-size: 3rem
    line-height: 3.3rem

  p
    line-height: 1.8rem

  img
    border: 1px solid $blue
    @extend .img-100

  pre, code
    background: $black
    color: $white
    border-radius: 4px

  pre
    padding: 1rem
  
  code
    padding: 2px 4px

  blockquote
    border-left: 1px solid $black
    padding-left: 1rem

  hr
    opacity: 1
    border-top: 1px solid $grey

  ol, ul
    padding: 0 0 0 1.2rem

  ul
    list-style: disc

  li
    margin-bottom: 1rem

/**
 * MUSIC
 * MUSIC
 * MUSIC
 * MUSIC
 * MUSIC
 */

.music

  ol, ul
    padding: 0 0 0 1.2rem

  ul
    list-style: disc

  li
    margin-bottom: 1rem

/**
 * ABOUT
 * ABOUT
 * ABOUT
 * ABOUT
 * ABOUT
 */

.about-container
  p, h2, ul
    @extend .calc-gutter

  ul
    list-style: none

    li
      margin-bottom: .25rem

  .about-operations
    ul
      margin-left: 1.2rem
      list-style: decimal

      li
        margin-top: 1rem
        margin-bottom: 1rem

/**
 * NAV & "GRID"
 * NAV & "GRID"
 * NAV & "GRID"
 * NAV & "GRID"
 * NAV & "GRID"
 */


.grid-mobile

  a
    padding: 0

  h1, h2, h3, h4
    @extend .calc-gutter
    display: inline-block
    margin: 1rem 0 .5rem 0

    span
      line-height: 0
      font-size: .8rem
      text-transform: uppercase

  h1
    font-size: 1.6rem
    line-height: 1.6rem

  h2
    font-size: 1.3rem
    line-height: 1.3rem

  h3
    font-size: 1rem
    line-height: 1rem

  p
    @extend .calc-gutter

.grid

  a
    padding: 0

  h1, h2, h3, h4
    @extend .calc-gutter
    display: inline-block
    margin: 1rem 0 .5rem 0

    span
      line-height: 0
      font-size: .8rem
      text-transform: uppercase

  p
    @extend .calc-gutter

nav a,
.grid a,
.dummy
  color: $black
  text-decoration: none
  height: 100%
  width: 100%
  display: inline-block
  
  p
    margin: 1rem 0 1rem 0


nav a br
  display: none

.grid a:focus-visible div,
nav a:focus-visible div
  outline: 3px solid $blue

.grid a:hover,
nav a:hover
  background: $blue
  color: $white

.grid a.active,
nav a.active
  background: $black
  color: $white

.b
  overflow: hidden
  padding: 0

.bt
  border-top: 1px solid $black

.bb
  border-bottom: 1px solid $black

.bb-transparent
  border-bottom: 1px solid transparent

.br
  border-right: 1px solid $black


@media (min-width: 768px)

  nav a br
    display: inline

  .bt-md
    border-top: 1px solid $black

  .bb-md
    border-bottom: 1px solid $black

  .br-md
    border-right: 1px solid $black

/**
 * 404
 * 404
 * 404
 * 404
 * 404
 */

.four-oh-four
  background: url(/assets/images/crown-via-phill-c-on-yelp.jpg) bottom center
  background-size: cover
  padding-top: 100px
  height: 800px

  h1
    font-size: 4rem
    margin-bottom: 2rem

  p
    font-size: 2rem
    line-height: 2.4rem

/**
 * SPECTRUM
 * SPECTRUM
 * SPECTRUM
 * SPECTRUM
 * SPECTRUM
 */

.bg-spectrum
  background: $blue
  background: -webkit-linear-gradient(   left,  red, orange, yellow, lime, cyan, blue, indigo, violet, white, black)
  background:      -o-linear-gradient(   right, red, orange, yellow, lime, cyan, blue, indigo, violet, white, black)
  background:    -moz-linear-gradient(   right, red, orange, yellow, lime, cyan, blue, indigo, violet, white, black)
  background:         linear-gradient(to right, red, orange, yellow, lime, cyan, blue, indigo, violet, white, black)
  background-size: 600% 600%
  -webkit-animation: spectrumAnimation 48s linear infinite
     -moz-animation: spectrumAnimation 48s linear infinite
          animation: spectrumAnimation 48s linear infinite

@-webkit-keyframes spectrumAnimation
  0%
    background-position:0% 50%
  50%
    background-position:100% 50%
  100%
    background-position:0% 50%

@-moz-keyframes spectrumAnimation
  0%
    background-position:0% 50%
  50%
    background-position:100% 50%
  100%
    background-position:0% 50%

@keyframes spectrumAnimation
  0%
    background-position:0% 50%
  50%
    background-position:100% 50%
  100%
    background-position:0% 50%

/**
 * BREAKPOINTS
 * BREAKPOINTS
 * BREAKPOINTS
 * BREAKPOINTS
 * BREAKPOINTS
 */

// sm
@media (min-width: 576px)

// md
@media (min-width: 768px)

// lg
@media (min-width: 992px)

// xl
@media (min-width: 1200px)

// xxl
@media (min-width: 1400px)
