/**
 * VARIABLES
 * VARIABLES
 * VARIABLES
 * VARIABLES
 * VARIABLES
 */

$black: #000000
$orange: #f9780a
$dark: #0d3a7c
$grey: #1b1b1b
$yellow: #ffff00
$white: #eeeeee
$half-white: darken($white, 50%)
$quarter-white: darken($white, 25%)

$monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

$max-width: 1024px

/**
 * CORE
 * CORE
 * CORE
 * CORE
 * CORE
 */

body
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  background: $grey
  color: $white
  font-family: $sans-serif

pre, code
  color: $white
  font-family: $monospace
  margin-top: 0

::selection
  background: $yellow
  color: $black

a,
a:link,
a:visited
  color: $yellow

a:active,
a:hover
  color: $white

.max-width
  max-width: $max-width

.full-width
  max-width: none !important

  main,
  .masthead
    max-width: none !important

.mb-10
  margin-bottom: 10rem

.mb-gutter
  margin-bottom: 12px

.img-100
  display: block
  width: 100%

.table
  color: $white

a.btn-listen,
a.btn-listen:link,
.btn-listen:visited
  display: block
  text-align: center
  border: 1px solid $yellow
  text-align: none
  text-decoration: none

  &:hover,
  &:active
    background: $yellow
    color: $black

.listen-unavailable
  display: block
  text-align: center
  color: $half-white
  border: 1px solid $half-white
  cursor: not-allowed

.playlists

  .btn-listen
    max-width: 256px

  ol
    border: none

.playlists,
.books

  article

    h1
      font-size: 1.5rem

a.archives,
a.earlier-post,
a.later-post
  background: $black
  border-right: 3px solid $grey
  color: $white
  display: block
  font-weight: 600
  text-decoration: none

  &:active,
  &:hover
    background: $white
    color: $black

  span
    display: block
    padding: 10px


/**
 * HEADER
 * HEADER
 * HEADER
 * HEADER
 * HEADER
 */

header
  background: $black
  margin-bottom: 3px

  .masthead
    max-width: $max-width
    margin: auto

  img
    float: left
    margin-right: .5rem
    height: 64px
    width: 64px

  a,
  a:link,
  a:visited
    color: $white
    text-decoration: none
    
    &:active,
    &:hover
      color: $yellow
      text-decoration: underline

  h1
    float: left
    top: 18px
    left: 72px
    font-size: 18px
    font-size: 1rem
    font-weight: 600
    line-height: 17px

  a.btn-menu
    background: $yellow
    border-radius: 2px
    color: $black
    font-size: 24px
    font-weight: 800
    padding: 0 4px 5px 4px
    text-align: center
    text-decoration: none
    text-transform: uppercase
    float: right

    &:hover
      color: $black
      background: $white
      text-decoration: none

/**
 * NAV
 * NAV
 * NAV
 * NAV
 * NAV
 */

nav
  background: $grey

  p

    a,
    a:link,
    a:visited
      color: $quarter-white
    
      &:active,
      &:hover
        color: $white

    small
      color: $half-white

      code
        color: $half-white

      a,
      a:link,
      a:visited
        color: $half-white
      
        &:active,
        &:hover
          color: $white


  ul
    list-style: none
    margin: 0
    padding: 0

    li
      margin-bottom: 3px

      a,
      a:link,
      a:visited
        background: $black
        color: $white
        display: block
        font-size: 1rem
        font-weight: 600
        padding: 10px
        text-decoration: none
        
        &:active,
        &:hover
          background: $white
          color: $black

      &.active

        a,
        a:hover
          background: $yellow
          color: $black

    &.children
      
      li

        a
          background: none
          color: $yellow

          &:hover
            background: none
            color: $white
            text-decoration: underline

/**
 * MAIN
 * MAIN
 * MAIN
 * MAIN
 * MAIN
 */

main
  @extend .max-width
  overflow: scroll

  article
    overflow: scroll

    blockquote
      padding-left: 1rem

    blockquote,
    ol,
    ul
      border-left: 1px solid $half-white

      ol,
      ul
        border-left: 1px solid $half-white

    ul

      li
        list-style-type: square

    p,
    ol,
    ul
      max-width: 512px
    
    img
      @extend .img-100
      max-width: 512px
      margin-bottom: 1rem

/**
 * 404
 * 404
 * 404
 * 404
 * 404
 */

.four-oh-four
  background-image: url('/assets/images/crown-via-phill-c-on-yelp.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: 512px
  margin: 9px 0 0 0
  padding: 128px 16px
  text-align: center


/**
 * SPECTRUM
 * SPECTRUM
 * SPECTRUM
 * SPECTRUM
 * SPECTRUM
 */

.bg-spectrum
  background: -webkit-linear-gradient(left,  red, orange, yellow, lime, cyan, blue, indigo, violet, white, black)
  background: -o-linear-gradient(right, red, orange, yellow, lime, cyan, blue, indigo, violet, white, black)
  background: -moz-linear-gradient(right, red, orange, yellow, lime, cyan, blue, indigo, violet, white, black)
  background: linear-gradient(to right, red, orange, yellow, lime, cyan, blue, indigo, violet, white, black)
  background-size: 600% 600%
  -webkit-animation: spectrumAnimation 48s linear infinite
  -moz-animation: spectrumAnimation 48s linear infinite
  animation: spectrumAnimation 48s linear infinite

@-webkit-keyframes spectrumAnimation
  0%
    background-position: 0% 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0% 50%

@-moz-keyframes spectrumAnimation
  0%
    background-position: 0% 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0% 50%

@keyframes spectrumAnimation
  0%
    background-position: 0% 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0% 50%

  
/**
 * BREAKPOINTS
 * BREAKPOINTS
 * BREAKPOINTS
 * BREAKPOINTS
 * BREAKPOINTS
 */

// sm
@media (min-width: 576px)

// md
@media (min-width: 768px)

// lg
@media (min-width: 992px)

// xl
@media (min-width: 1200px)

// xxl
@media (min-width: 1400px)
