@charset "UTF-8";
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

code, pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

p {
  overflow: hidden; }

a, a:link, a:visited, a:active {
  color: #0687f5;
  text-decoration: underline; }

a:hover {
  color: #034279; }

a.about-link {
  color: #ffffff;
  background: #333333;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 16px;
  padding: 10px 0 10px 0;
  text-decoration: none;
  border-radius: 4px; }

a:hover.about-link {
  color: #ffffff;
  background: #034279; }

::selection {
  color: #ffffff;
  background: #0687f5; }

time {
  color: #b3b3b3; }

code.highlighter-rouge {
  color: #034279; }

audio {
  width: 100%; }

blockquote {
  border-left: 1px solid #b3b3b3;
  padding-left: 20px;
  margin-left: 5px; }
  blockquote p {
    font-size: 1rem;
    color: #333333; }

pre {
  background: #333333;
  margin: 10px 0;
  padding: 20px;
  border-radius: 4px; }
  pre code {
    color: #ffffff;
    font-size: 1rem;
    line-height: 0px; }

hr {
  margin: 4rem 0;
  padding: 0;
  border: none;
  border-top: 1px solid #b3b3b3;
  color: #b3b3b3;
  text-align: center; }

hr::before {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.9rem;
  font-size: 1rem;
  padding: 0 0.25em;
  background: #ffffff; }

.hr-standard {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid #b3b3b3;
  color: #b3b3b3;
  text-align: center; }

.hr-standard::before {
  content: ""; }

.max-clipboard {
  display: none;
  margin-bottom: 20px; }
  .max-clipboard p span {
    display: none;
    color: #0687f5; }
  .max-clipboard pre {
    background: #333333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px; }
    .max-clipboard pre.code-copied {
      background: #0687f5; }
    .max-clipboard pre code.language-max {
      color: #ffffff;
      background: none;
      font-size: 10px;
      line-height: 0px; }

.code-copied {
  -webkit-animation: backgroundanimation 2s linear forwards;
  animation: backgroundanimation 2s linear forwards; }

@-webkit-keyframes backgroundanimation {
  0% {
    background-color: #0687f5; }
  100% {
    background-color: #333333; } }
@keyframes backgroundanimation {
  0% {
    background-color: #0687f5; }
  100% {
    background-color: #333333; } }
.fade-in-out {
  -webkit-animation: fadeinout 2s linear forwards;
  animation: fadeinout 2s linear forwards; }

@-webkit-keyframes fadeinout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeinout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/**
 * Navbar
 */
.site-logo {
  float: left;
  width: 150px;
  height: 70px; }

.fa-bars, .fa-times {
  color: #ffffff; }

.button-mobile {
  cursor: pointer;
  display: none;
  background: none;
  border-radius: 0;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px; }
  .button-mobile i {
    float: right; }
  .button-mobile:focus {
    outline: none; }
  .button-mobile .fa-times {
    display: block; }
  .button-mobile .fa-bars {
    display: none; }
  .button-mobile.collapsed .fa-times {
    display: none; }
  .button-mobile.collapsed .fa-bars {
    display: block; }

.navbar {
  background: url("../images/nav-bg.jpg");
  background-color: #212529;
  background-size: contain;
  padding: 1.5rem 15px 1rem 15px;
  align-items: baseline; }

nav .navbar-nav li {
  margin-left: 16px; }
  nav .navbar-nav li a {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    border-radius: 4px; }
  nav .navbar-nav li a:hover {
    text-decoration: underline; }
  nav .navbar-nav li span {
    display: none; }
  nav .navbar-nav li.active span {
    display: inline; }

.dropdown-menu {
  background: url("../images/nav-bg.jpg");
  background-size: contain;
  padding: 0.5rem; }
  .dropdown-menu .dropdown-item {
    padding: 0.5rem; }
    .dropdown-menu .dropdown-item:hover {
      text-decoration: none; }

.site-header {
  border-bottom: 2px solid #212529; }

.site-footer {
  background: url("../images/nav-bg.jpg");
  background-color: #212529;
  background-size: contain;
  padding: 1.5rem 15px 1rem 15px;
  border-top: 2px solid #212529;
  width: 100%; }

@media (max-width: 575.98px) {
  .navbar {
    align-items: center; }

  .site-logo {
    width: 75px;
    height: 35px; }

  .button-mobile {
    display: block; }

  nav ul.navbar-nav {
    margin-top: 10px;
    width: 100%; }

  nav .navbar-nav li {
    margin-left: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center; }
    nav .navbar-nav li.active span {
      display: inline; }
    nav .navbar-nav li.active .nav-link,
    nav .navbar-nav li .nav-link {
      color: #212529;
      background-color: #ffffff; }
      nav .navbar-nav li.active .nav-link:hover, nav .navbar-nav li.active .nav-link:active,
      nav .navbar-nav li .nav-link:hover,
      nav .navbar-nav li .nav-link:active {
        color: #ffffff;
        background: #034279; }
    nav .navbar-nav li a {
      padding: 10px 0 10px 0; }
      nav .navbar-nav li a:hover, nav .navbar-nav li a:active {
        text-decoration: none; }

  .dropdown-menu {
    border: none; } }
.container-fluid {
  padding-top: 30px;
  padding-bottom: 30px; }
  .container-fluid ul, .container-fluid ol {
    list-style-position: inside;
    margin: 0 0 1rem 0;
    padding: 0; }
    .container-fluid ul li, .container-fluid ol li {
      margin: 0 0 10px 0; }
  .container-fluid article.post ul {
    list-style-type: disc; }
  .container-fluid article.post ul, .container-fluid article.post ol {
    list-style-position: inside;
    margin: 20px 0 20px 5px;
    padding-left: 20px; }
    .container-fluid article.post ul li, .container-fluid article.post ol li {
      margin: 0 0 1rem 0; }

.post, .col, .col-md-4, .col-md-6, .col-md-8 {
  margin-bottom: 50px; }

.post {
  margin-bottom: 200px; }

.col-tighten {
  margin-bottom: 20px; }
  .col-tighten a {
    margin-bottom: 0; }

#related-projects, #anthropocene {
  margin-top: 50px; }

h1, h2 {
  margin-top: 20px; }

.post h1,
h2.post-footer {
  border-bottom: 2px solid #b3b3b3; }

.post-content iframe,
.post-content img {
  width: 100%; }

.post-meta {
  color: #333333; }

.earlier-post,
.later-post,
.more-posts {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center; }
  .earlier-post a,
  .later-post a,
  .more-posts a {
    color: #ffffff;
    background-color: #333333;
    display: block;
    padding: 10px;
    border-radius: 4px; }
    .earlier-post a:hover, .earlier-post a:active,
    .later-post a:hover,
    .later-post a:active,
    .more-posts a:hover,
    .more-posts a:active {
      color: #ffffff;
      background: #034279;
      text-decoration: none; }

button.btn-max {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
  display: block;
  padding: 10px; }
  button.btn-max:hover, button.btn-max:active {
    color: #ffffff;
    background: #034279;
    text-decoration: none; }

.max-clipboard p {
  padding: 10px;
  margin: 0px; }

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline; }

#life {
  width: 200px;
  height: 200px;
  margin: 0 auto 1rem auto;
  display: block;
  z-index: -1;
  position: relative; }

.cell {
  font-size: 64px;
  line-height: 0px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  float: left; }
  .cell[data-toggle='0'] {
    color: #ffffff; }
  .cell[data-toggle='1'] {
    color: #0687f5; }

.cell-row {
  height: 20px; }

#next {
  display: none; }

#ui {
  font-family: monospace;
  text-align: center; }

.home {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  background-color: #212529;
  background-size: cover; }
  .home .container-fluid {
    padding-left: 5px;
    padding-right: 5px; }
  .home .navbar,
  .home .site-header,
  .home .site-footer {
    border: none;
    background: none; }
  .home .home-image,
  .home .home-image img {
    display: inline-block;
    width: 100%; }
    .home .home-image a,
    .home .home-image img a {
      display: block;
      border: 10px solid transparent; }
    .home .home-image a:hover, .home .home-image a:active,
    .home .home-image img a:hover,
    .home .home-image img a:active {
      border: 10px solid #0687f5; }

.row-music a {
  text-decoration: none; }
.row-music .container-fluid {
  padding-top: 0; }

.row-music em,
.row-travel em {
  color: #b3b3b3; }
.row-music div,
.row-travel div {
  margin-bottom: 50px; }

.row-music img,
.row-travel img,
.row-about img,
.row-projects img {
  width: 100%; }

.row-date,
.row-saga {
  display: none; }
  .row-date.active,
  .row-saga.active {
    display: flex; }

.about-image-dystopia,
.about-image-happy {
  display: none;
  color: #b3b3b3; }
  .about-image-dystopia.active,
  .about-image-happy.active {
    display: block; }

.webring img {
  width: 100%; }

.two-col {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2; }

.three-col {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3; }

@media (max-width: 575.98px) {
  .two-col,
  .three-col {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1; } }

/*# sourceMappingURL=style.css.map */
