$blue: #0687f5
$darkBlue: darken($blue, 25%)
$grey: #333333
$lightGrey: lighten($grey, 50%)
$veryLightGrey: lighten($grey, 50%)
$white: #ffffff
$black: #212529

body
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

code, pre
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

p
  overflow: hidden

a, a:link, a:visited, a:active
  color: $blue
  text-decoration: underline

a:hover
  color: $darkBlue

a.about-link
  color: $white
  background: $grey
  width: 100%
  display: block
  text-align: center
  margin-bottom: 16px
  padding: 10px 0 10px 0
  text-decoration: none
  border-radius: 4px

a:hover.about-link
  color: $white
  background: $darkBlue

::selection
  color: $white
  background: $blue

time
  color: $lightGrey

code.highlighter-rouge
  color: $darkBlue

audio
  width: 100%

blockquote
  border-left: 1px solid $lightGrey
  padding-left: 20px
  margin-left: 5px

  p
    font-size: 1rem
    color: $grey

pre
  background: $grey
  margin: 10px 0
  padding: 20px
  border-radius: 4px
  
  code
    color: $white
    font-size: 1rem
    line-height: 0px

hr 
  margin: 4rem 0
  padding: 0
  border: none
  border-top: 1px solid $lightGrey
  color: $lightGrey
  text-align: center

hr::before
  content: "§"
  display: inline-block
  position: relative
  top: -.9rem
  font-size: 1rem
  padding: 0 0.25em
  background: $white

.hr-music
  margin: 0
  padding: 0
  border: none
  border-top: 4px solid $lightGrey
  color: $lightGrey
  text-align: center

.hr-music::before
  content: ""

.max-clipboard
  display: none
  margin-bottom: 20px

  p span
    display: none
    color: $blue
  
  pre
    background: $grey
    margin: 10px 0
    padding: 10px
    border-radius: 4px
  
    &.code-copied
      background: $blue

    code.language-max
      color: $white
      background: none
      font-size: 10px
      line-height: 0px

.code-copied
  -webkit-animation: backgroundanimation 2s linear forwards
  animation: backgroundanimation 2s linear forwards

@-webkit-keyframes backgroundanimation
  0%
    background-color: $blue
  100%
    background-color: $grey

@keyframes backgroundanimation
  0%
    background-color: $blue
  100%
    background-color: $grey

.fade-in-out
  -webkit-animation: fadeinout 2s linear forwards
  animation: fadeinout 2s linear forwards

@-webkit-keyframes fadeinout
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes fadeinout
  0%
    opacity: 1
  100%
    opacity: 0

/**
 * Navbar
 */
.site-logo
  float: left
  width: 150px
  height: 70px

.fa-bars, .fa-times
  color: $white

.button-mobile
  cursor: pointer
  display: none
  background: none
  border-radius: 0
  border: none
  padding: 0
  width: 40px
  height: 40px

  i
    float: right

  &:focus
    outline: none

  .fa-times
    display: block

  .fa-bars
    display: none

  &.collapsed
  
    .fa-times
      display: none

    .fa-bars
      display: block

.navbar
  background: url("../images/nav-bg.jpg")
  background-color: $black
  background-size: contain
  padding: 1.5rem 15px 1rem 15px
  align-items: baseline

nav .navbar-nav li
  margin-left: 16px

  a
    color: $white
    margin-top: 0
    margin-bottom: 0
    padding-top: 0
    padding-bottom: 0
    text-decoration: none
    border-radius: 4px

  a:hover
    text-decoration: underline

  span
    display: none

  &.active span
    display: inline

.dropdown-menu
  background: url("../images/nav-bg.jpg")
  background-size: contain
  padding: .5rem

  .dropdown-item
    padding: .5rem
    
    &:hover
      text-decoration: none

.site-header
  border-bottom: 2px solid $black

.site-footer
  background: url("../images/nav-bg.jpg")
  background-color: $black
  background-size: contain
  padding: 1.5rem 15px 1rem 15px
  border-top: 2px solid $black
  width: 100%

@media (max-width: 575.98px)

  .navbar
    align-items: center
  
  .site-logo
    width: 75px
    height: 35px

  .button-mobile
    display: block

  nav ul.navbar-nav
    margin-top: 10px
    width: 100%

  nav .navbar-nav li
    margin-left: 0
    margin-bottom: 10px
    margin-top: 10px
    text-align: center

    &.active span
      display: inline

    &.active .nav-link,
    .nav-link
      color: $black
      background-color: $white

      &:hover, &:active
        color: $white
        background: $darkBlue

    a
      padding: 10px 0 10px 0

      &:hover, &:active
        text-decoration: none

  .dropdown-menu
    border: none

.container-fluid
  padding-top: 30px
  padding-bottom: 30px

  ul, ol
    list-style-position: inside
    margin: 0 0 1rem 0
    padding: 0

    li
      margin: 0 0 10px 0

  article.post
    
    ul
      list-style-type: disc

    ul, ol
      list-style-position: outside
      margin: 20px 0 20px 20px

      li
        margin: 0 0 20px 0


.post, .col, .col-md-4, .col-md-6, .col-md-8
  margin-bottom: 50px

.post
  margin-bottom: 200px

.col-tighten
  margin-bottom: 20px

  a
    margin-bottom: 0

#related-projects, #anthropocene
  margin-top: 50px

h1, h2
  margin-top: 20px

.post h1,
h2.post-footer
  border-bottom: 2px solid $lightGrey

.post-content
  iframe,
  img
    width: 100%


.post-meta
  color: $grey

.earlier-post,
.later-post,
.more-posts
  margin-bottom: 10px
  margin-top: 10px
  text-align: center

  a
    color: $white
    background-color: $grey
    display: block
    padding: 10px
    border-radius: 4px

    &:hover, &:active
      color: $white
      background: $darkBlue
      text-decoration: none  

button.btn-max
  margin-bottom: 10px
  margin-top: 10px
  text-align: center
  color: $white
  background-color: $grey
  display: block
  padding: 10px
  
  &:hover, &:active
    color: $white
    background: $darkBlue
    text-decoration: none  

.max-clipboard p
  padding: 10px
  margin: 0px

.svg-icon
  width: 16px
  height: 16px
  display: inline 

#life 
  width: 200px
  height: 200px
  margin: 0 auto 1rem auto
  display: block
  z-index: -1
  position: relative
  
.cell 
  font-size: 64px
  line-height: 0px
  width: 20px
  height: 20px
  margin: 0
  padding: 0
  float: left

  &[data-toggle='0'] 
    color: $white
  
  &[data-toggle='1'] 
    color: $blue

.cell-row 
  height: 20px

#next 
  display: none

#ui
  font-family: monospace
  text-align: center

.home
  background: url("../images/bg.jpg") no-repeat center center fixed
  background-color: $black
  background-size: cover

  .container-fluid
    padding-left: 5px
    padding-right: 5px

  .navbar,
  .site-header,
  .site-footer
    border: none
    background: none

  .home-image,
  .home-image img
    display: inline-block
    width: 100%

    a
      display: block
      border: 10px solid transparent
    
    a:hover, a:active
      border: 10px solid $blue

.row-music
  a
    text-decoration: none

  .container-fluid
    padding-top: 0

.row-music,
.row-travel
  em
    color: $lightGrey

  div
    margin-bottom: 50px

.row-music,
.row-travel,
.row-about,
.row-projects
  img
    width: 100%

.row-date,
.row-saga
  display: none

  &.active
    display: flex

.about-image-dystopia,
.about-image-happy
  display: none
  color: $lightGrey

  &.active
    display: block

.webring img
  width: 100%

.two-col
  -webkit-columns: 2
  -moz-columns: 2
  columns: 2

.three-col
  -webkit-columns: 3
  -moz-columns: 3
  columns: 3

@media (max-width: 575.98px)
  .two-col,
  .three-col
    -webkit-columns: 1
    -moz-columns: 1
    columns: 1