---
layout: full
---
<div class="row row-about">
  <div class="col-lg-6 col-md-12">
    <img src="/assets/images/tyler-etters-mask.jpg" class="about-image-dystopia active"/>
    <em class="text-center about-image-dystopia active">Switch to the old <a href="#" class="toggle-happy">happy-go-lucky photo</a> from the before times.</em>
    <img src="/assets/images/tyler-in-maine-2019.jpg" class="about-image-happy"/>
    <em class="text-center about-image-happy">Switch to the new <a href="#" class="toggle-dystopia">severe dystopia photo</a> from the after times.</em>
  </div>
  <div class="col-lg-6 col-md-12">
    <div id="life"></div>
    <div id="next"></div>
    <p class="text-center text-monospace">generation <span id="generation">0</span>, <a href="#" onclick="seed()">seed</a></p>
    {{ content }}
    <div class="container-fluid container-about-links">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-tighten">
          <a href="gemini://tilde.club/~tse"><i class="fas fa-code-branch fa-fw"></i> gemini://tilde.club/~tse</a>
        </div>
        <div class="col-lg-6 col-md-12 col-tighten">
          <a href="https://stuxnet.me"><i class="fas fa-bug fa-fw"></i> STUXNET</a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-tighten">
          <a href="mailto:tyler@etters.co"><i class="far fa-envelope fa-fw"></i> tyler@etters.co</a>
        </div>
        <div class="col-lg-6 col-md-12 col-tighten">
          <a href="https://instagram.com/tyleretters"><i class="fab fa-instagram fa-fw"></i> @tyleretters</a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-tighten">
          <a href="https://twitch.tv/tyleretters"><i class="fab fa-twitch fa-fw"></i> Twitch</a>
        </div>
        <div class="col-lg-6 col-md-12 col-tighten">
          <a href="https://www.youtube.com/channel/UCkZn9WNgPM3gVf9fiyuN1Mg"><i class="fab fa-youtube fa-fw"></i> YouTube</a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-tighten">
          <a href="https://etters.co"><i class="fas fa-heart fa-fw"></i> My Love</a>
        </div>
        <div class="col-lg-6 col-md-12 col-tighten">
          <a href="https://tyleretters.github.io"><i class="fab fa-github fa-fw"></i> @tyleretters</a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-tighten">
          <a href="https://intertext.bandcamp.com"><i class="fas fa-music fa-fw"></i> Intertext</a>
        </div>
        <div class="col-lg-6 col-md-12 col-tighten">
          <a href="https://highlandsolutions.com"><i class="fas fa-globe fa-fw"></i> Highland</a>
        </div>
      </div>
    </div>
  </div>
</div>