---
layout: default
---

{%- if page.title -%}
<div class="row">
  <div class="col-lg-6 col-md-8">
    <h1>{{ page.title | escape }}</h1>
  </div>
</div>
{%- endif -%}
<div class="row">
  <div class="col-lg-6 col-md-8">
    <div id="life"></div>
    <div id="next"></div>
    <p class="text-center text-monospace">generation <span id="generation">0</span>, <a href="#" onclick="seed()">seed</a></p>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-8">
    {{ content }}
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-4 col-tighten">
    <a class="about-link" href="mailto:tyler@etters.co"><i class="far fa-envelope"></i> tyler@etters.co</a>
  </div>
  <div class="col-lg-3 col-md-4 col-tighten">
    <a class="about-link" href="https://www.twitter.com/tyleretters"><i class="fab fa-twitter"></i> @tyleretters</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-4 col-tighten">
    <a class="about-link" href="https://intertext.bandcamp.com"><i class="fas fa-music"></i> Intertext</a>
  </div>
  <div class="col-lg-3 col-md-4 col-tighten">
    <a class="about-link" href="https://www.soundcloud.com/tyleretters"><i class="fab fa-soundcloud"></i> tyleretters</a>
  </div>
</div>