---
layout: abstract
---
<main class="container-fluid blog">
  <div class="row">
    {% assign years = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in years %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-5">
      <h2 id="{{ year.name }}" class="my-0 px-0">{{ year.name }}</h2>
      <hr class="blog-hr"/>
      {% for post in year.items %}
        <article class="col blog-link border-right">
          <a href="{{ post.url }}" class="blog-title"><h1>{{ post.title }}</h1> <time>{{ post.date | date: "%b %-d, %Y" }}</time></a>
        </article>
      {% endfor %}
      </div>
    {% endfor %}
  </div>
</main>