---
layout: page
---
{% assign post = site.posts[0] %}
{% include article.html %}
{% assign post = site.posts[1] %}
{% include article.html %}
{% assign post = site.posts[2] %}
{% include article.html %}
{% assign post = site.posts[3] %}
{% include article.html %}
{% assign post = site.posts[4] %}
{% include article.html %}
{% assign post = site.posts[5] %}
{% include article.html %}
{% assign post = site.posts[6] %}
{% include article.html %}
{% assign post = site.posts[7] %}
{% include article.html %}
{% assign post = site.posts[8] %}
{% include article.html %}
{% assign post = site.posts[9] %}
{% include article.html %}
{% assign post = site.posts[10] %}
{% include article.html %}
{% assign post = site.posts[11] %}
{% include article.html %}
{% assign post = site.posts[12] %}
{% include article.html %}
{% assign post = site.posts[13] %}
{% include article.html %}
{% assign post = site.posts[14] %}
{% include article.html %}
{% assign post = site.posts[15] %}
{% include article.html %}
{% assign post = site.posts[16] %}
{% include article.html %}
{% assign post = site.posts[17] %}
{% include article.html %}
{% assign post = site.posts[18] %}
{% include article.html %}
<div class="container-fluid post-navigation mb-5 px-0 d-none d-md-block">
  <div class="row">
    <div class="col">
      <a href="/archives" class="archives"><span>Archives</span></a>
    </div>
  </div>
</div>