<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="home">
<main class="container-fluid">
  <div class="row">
    <div class="col-md-2 px-0">
      {% include sidebar.html %}
    </div>
    <div class="col-md-10">
      <div class="container-fluid two-col">
        {% for item in site.data.home.items %}
        <div class="home-image">
          <a href="{{ item.url }}">
            <img src="{{ site.baseurl}}/assets/images/{{ item.img }}" alt="{{ item.title }}" />
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% include javascript.html %}
</body>
</html>