---
layout: default
---
<div class="row">

   <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
    {% for post in site.posts limit:3 %}
    <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ post.title | escape }}</h1>
        <p class="post-meta">
          <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ post.date | date: date_format }}
          </time> · <a href="{{ post.url | relative_url }}">Link</a>
        </p>
      </header>

      <div class="post-content e-content" itemprop="articleBody">
        {{ post.content }}
      </div>

    </article>
    {% endfor %}
  </div>

</div>