---
layout: abstract
---
<main class="container-fluid index">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="container-fluid px-0">
      {% for i in (0..20) %}
      {% assign post = site.posts[i] %}
        <div class="row border-right">
          <div class="col px-0 excerpt-card">
            <article>
              <a href="{{ post.url }}" class="excerpt-title border-bottom"><h1>{{ post.title }}</h1> <time>{{ post.date | date: "%b %-d, %Y" }}</time></a>
              <div class="excerpt-body">
                {{ post.excerpt }}
                <p class="text-end excerpt-link"><a href="{{ post.url }}">&rarr;</a></p>
              </div>
            </article>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="container-fluid px-0">
        {% for post in site.posts %}
        <div class="row">
          <div class="col px-0 excerpt-card">
            <article>
              <a href="{{ post.url }}" class="excerpt-title"><h1>{{ post.title }}</h1> <time>{{ post.date | date: "%b %-d, %Y" }}</time></a>
            </article>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>