---
layout: abstract
---
<main class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="container-fluid px-0">
        <div class="row border-bottom general-title">
          <div class="col border-right">
            <h1>{{ page.title }}</h1>
            {{ content }}
          </div>
        </div>
        <div class="row general-content">
          {% assign links = site.data.links %}
          {% for link in links %}
          <div class="col-sm-12 col-md-6 col-lg-4 border-right border-bottom px-0 py-0">
            <a href="{{ link.url }}" class="block-link">{{ link.title }}</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="container-fluid px-0">
        <div class="row border-bottom general-title">
          <div class="col border-right">
            <h1>Webring</h1>
            <p>Additionally, this <a href="https://webring.xxiivv.com/#random">webring</a> is an attempt to inspire artists &amp; developers to build their own website and share traffic among each other. The ring welcomes personalized websites such as <b>diaries, wikis &amp; portfolios</b>.</p>
            <p>To add yourself to the ring, submit a <a href="https://github.com/XXIIVV/webring#join-the-webring">pull request</a>.</p>
          </div>
        </div>
        <div class="row general-content">
          <div class="col-sm-12 col-md-6 col-lg-4 border-right border-bottom px-0 py-0">
            <a href="https://webring.xxiivv.com/" class="d-block webring"><img src="https://webring.xxiivv.com/icon.black.svg" class="img-100" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>