---
layout: abstract
---
<main class="container-fluid">
  <div class="row bg-white border-bottom border-right">
    <div class="col px-0">
      <a href="/discography" class="block-link">Complete Discography</a>
    </div>
  </div>
  {% assign music_by_order = site.data.music | sort: "order" %}
  {% for music in music_by_order %}
    <div class="row">
      <div class="col">
        <article class="container-fluid px-0">
          <div class="row border-bottom general-title">
            <div class="col border-right">
              <h1 id="{{ music.title | downcase | replace: " / ", "-" |  replace: " &", "" | replace: " ", "-" | replace: ";", "" }}" class="mb-0">{{ music.title }}</h1>
              <p class="mb-2">{{ music.dates }} · <a href="{{ music.url }}">Explore</a></p>
            </div>
          </div>
          <div class="row border-bottom general-content">
            <div class="col border-right">
              {{ music.content | markdownify }}
            </div>
          </div>
          <div class="row general-content">
            {% assign release_by_order = music.releases | sort: "order" | reverse %}
            {% for release in release_by_order %}
              <div class="col-sm-12 col-md-4 border-bottom">
                <a href="/assets/images/{{ release.image }}"><img src="/assets/images/{{ release.image }}" class="img-100 mb-2"/></a>
                {% if release.url %}
                  <a href="{{ release.url }}">
                    Listen</a>
                {% else %}
                  <p class="listen-unavailable">No Longer Available</p>
                {% endif %}
                <p>
                  <strong>{{ release.title }}</strong>, {{ release.year }}</p>
              </div>
            {% endfor %}
          </div>
        </article>
      </div>
    </div>
  {% endfor %}
  <div class="row bg-white border-bottom border-right">
    <div class="col px-0">
      <a href="/discography" class="block-link">Complete Discography</a>
    </div>
  </div>
</main>