---
layout: abstract
---
<main class="container-fluid music">
  {% assign music_by_order = site.data.music | sort: "order" %}
  {% for music in music_by_order %}
    <div class="row">
      <div class="col px-md-0">
        <article class="container-fluid px-0 mb-5">
          <div class="row">
            <div class="col">
              <h1 id="{{ music.title | downcase | replace: " / ", "-" |  replace: " &", "" | replace: " ", "-" | replace: ";", "" }}">{{ music.title }}</h1>
              <p class="mb-2">{{ music.dates }} · <a href="{{ music.url }}">Explore</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              {{ music.content | markdownify }}
            </div>
          </div>
          <div class="row">
            {% assign release_by_order = music.releases | sort: "order" | reverse %}
            {% for release in release_by_order %}
              <div class="col-sm-12 col-md-4">
                <a href="/assets/images/{{ release.image }}"><img src="/assets/images/{{ release.image }}" class="mb-2"/></a>
                {% if release.url %}
                  <a href="{{ release.url }}">
                    Listen</a>
                {% else %}
                  <p class="listen-unavailable mb-0">No Longer Available</p>
                {% endif %}
                <p>
                  <strong>{{ release.title }}</strong>, {{ release.year }}</p>
              </div>
            {% endfor %}
          </div>
        </article>
      </div>
    </div>
  {% endfor %}
</main>