---
layout: default_blog
---
<div class="row">
  <div class="col upper">
    <p><em>{{ site.description }}</em></p>
  </div>
</div>
<div class="row mb-5">
  <div class="col col-lg-8">
    <article>
      <h1>{{ page.title }}</h1>
      <time>{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}{{ page.date | date: date_format }}</time> · <a href="/feed.xml">XML</a> 
      <hr>
      <div class="content img-link img-100">
        {{ page.content }}
      </div>
    </article>
  </div>
</div>
<div class="row mb-5">
  <div class="col col-lg-4 later-post">
    {% if page.next.url %}
      <a href="{{ page.next.url }}" class="block-link">&larr; {{ page.next.title }}</a>
    {% else %}
      <a href="/2009/11/08/swing-state" class="block-link">&larr; To The Beginning</a>
    {% endif %}
  </div>
  <div class="col col-lg-4 earlier-post">
    {% if page.previous.url %}
      <a href="{{ page.previous.url }}" class="block-link">{{ page.previous.title }} &rarr;</a>
    {% else %}
      <a href="/2009/11/08/swing-state" class="block-link block-link-disable">End of Blog</a>
    {% endif %}
  </div>
</div>