---
layout: abstract
---
<main class="container-fluid post">
  {% include subnav.html %}
  <div class="row mt-3">
    <div class="col border-bottom">
      <article class="container-fluid px-0">
        <div class="row post-title">
          <div class="col col-md-8 border-right offset-md-2 px-3">
            <h1 class="mb-0">{{ page.title }}</h1>
            <p class="mb-2">
              <time>{{ page.date | date: "%b %-d, %Y" }}</time>
              ·
              <a href="{{ site.data.meta.github }}/{{ post.path }}">Edit</a>
            </p>
          </div>
        </div>
        <div class="row post-content">
          <div class="col col-md-8 offset-md-2 bg-white border-right py-3 px-3 mb-5">
            {{ page.content }}
          </div>
        </div>
      </article>
    </div>
  </div>
  {% include subnav.html %}
  </div>
</main>