---
layout: default
---
<div class="row">
  <div class="col">
    {{ content }}
  </div>
</div>
{% assign software_by_order = site.data.software.items | sort: "order" | reverse %}
{% for software in software_by_order %}
<div class="row mb-5">
  <div class="col">
    <h2 id="{{ software.name | downcase | replace: " / ", "-" | replace: " ", "-" }}">{{ software.name }}</h2>
    <em>{{ software.dates }}</em>
    <hr class="hr-standard">
  </div>
</div>
<div class="row row-img-100 mb-5">
  <div class="col-md-6">
    {{ software.content | markdownify }}
  </div>
   <div class="col-md-6">
    <img src="{{ software.image }}" />
  </div>
</div>
{% endfor %}