<a
  href="/"
  class="flex cursor-pointer flex-row items-center text-stone-950 no-underline hover:bg-red-500 hover:text-white"
>
  <img
    src="/rm_ation/images/applied-sciences-and-phantasms-working-division.svg"
    alt="Northern Information Logo"
    class="h-[100px] w-[100px] p-1"
  >
  <h1 class="text-5xl font-semibold">
    Northern<br>
    Information
  </h1>
</a>
