---
title: 404
layout: base.liquid
permalink: 404.html
---
<div class="-mx-2 -my-2 flex h-[400px] flex-col justify-center gap-5 bg-four-oh-four bg-cover bg-no-repeat text-center text-slate-50 md:h-[800px] ">
  <h1 class="text-center text-4xl font-semibold">404 Error</h1>
  <p class="">The requested page could not be found.</p>
  <p>
    <a href="/" class="text-yellow-300 hover:text-yellow-500">Stumble home...</a>
    <br>
    <a href="{{ site.META.GITHUB_URL }}" class="text-yellow-300 hover:text-yellow-500">Try to fix it?</a>
  </p>
</div>
