---
layout: base.liquid
permalink: /
---
<div class="-mx-2 -my-2 flex flex-col">
  <div class="h-auto min-h-[400px] w-full bg-powerlines bg-cover ps-4 pt-4 md:min-h-[600px] lg:min-h-[800px]">
    <h2 class="m-0 inline bg-stone-950 font-mono">
      "We build our computer systems the way we build our cities: over time, without a plan, on top of ruins."
    </h2>
    <br>
    <p class="m-0 inline bg-stone-950 font-mono">&mdash; Ellen Ullman</p>
  </div>
</div>
