---
layout: base.liquid
permalink: /
---
<div class="-mx-2 -my-2 flex h-[800px] flex-col bg-foxfires bg-cover bg-no-repeat md:h-[800px] xl:h-[1000px] p-2">
    <h3 class="inline bg-stone-950 text-stone-50 text-md font-semibold italic text-center">New Original Music from STUXNET</h3>
    <h2 class="inline bg-stone-950 text-red-500 text-2xl font-semibold !leading-[2rem] md:text-4xl md:!leading-[3.25rem] lg:text-6xl lg:!leading-[4.75rem] text-center">
     FOXFIRES / KYBALION
    </h2>
    <ul class="w-full mt-5">
      <li class="text-center"><a href="https://www.amazon.com/dp/B0DWWZ3JRF" target="_blank" class="bg-stone-950 mt-10 text-yellow-300 underline hover:text-yellow-500 hover:no-underline text-2xl">Amazon &rarr;</a></li>
      <li class="text-center"><a href="https://music.apple.com/us/album/foxfires-kybalion-ep/1796608668" target="_blank" class="bg-stone-950 mt-10 text-yellow-300 underline hover:text-yellow-500 hover:no-underline text-2xl">Apple Music &rarr;</a></li>
      <li class="text-center"><a href="https://stuxnet.bandcamp.com/album/foxfires-kybalion" target="_blank" class="bg-stone-950 mt-10 text-yellow-300 underline hover:text-yellow-500 hover:no-underline text-2xl">Bandcamp &rarr;</a></li>
      <li class="text-center"><a href="https://www.deezer.com/us/album/711748271" target="_blank" class="bg-stone-950 mt-10 text-yellow-300 underline hover:text-yellow-500 hover:no-underline text-2xl">Deezer &rarr;</a></li>
      <li class="text-center"><a href="https://www.iheart.com/artist/stuxnet-610225/albums/     <li>foxfires-kybalion-313385710/" target="_blank" class="bg-stone-950 mt-10 text-yellow-300 underline hover:text-yellow-500 hover:no-underline text-2xl">iHeartRadio &rarr;</a></li>
      <li class="text-center"><a href="https://open.spotify.com/album/7mh0Vr0dbBsndXQEHMPrmq" target="_blank" class="bg-stone-950 mt-10 text-yellow-300 underline hover:text-yellow-500 hover:no-underline text-2xl">Spotify &rarr;</a></li>
      <li class="text-center"><a href="https://www.youtube.com/watch?v=wr4PfhW2S3g" target="_blank" class="bg-stone-950 mt-10 text-yellow-300 underline hover:text-yellow-500 hover:no-underline text-2xl">YouTube &rarr;</a></li>
    </ul>
</div>
