---
layout: index.liquid
permalink: /
---
<h1>nor.the-rn.info/rm_ation</h1>

<h1>Pages</h1>
<ul>
  {% for page in collections.pages %}
    <li>{% include pageLink %}</li>
  {% endfor %}
</ul>


<h2>Posts</h2>
<ul>
  {% for post in collections.posts reversed %}
    <li>{% include postLink %}</li>
  {% endfor %}
</ul>