---
layout: base.liquid
permalink: /
---
<div class="-mx-2 -my-2  h-[400px] bg-foxfires bg-cover bg-no-repeat md:h-[800px] xl:h-[1000px] p-2 text-center grid grid-cols-1 gap-4 place-content-center">
  <h3>
    <span class="bg-stone-950 text-stone-300 text-md font-semibold italic  px-2">New Original Music from STUXNET</span>
  </h3>
  <h2>
    <span class="bg-stone-950 text-red-500 text-4xl font-semibold lg:text-6xl  px-2">FOXFIRES / KYBALION</span>
  </h2>
    <p>
    <span class="bg-stone-950 text-stone-300 text-md font-semibold italic font-serif px-2">"Written while my city burned."</span>
  </p>
  <ul>
    <li>
      <a href="https://www.amazon.com/dp/B0DWWZ3JRF" target="_blank" class="bg-stone-950 mt-10 text-yellow-300 underline hover:text-stone-950 hover:bg-yellow-500 hover:no-underline text-2xl  px-2">Amazon &rarr;</a>
    </li>
    <li>
      <a href="https://music.apple.com/us/album/foxfires-kybalion-ep/1796608668" target="_blank" class="bg-stone-950 mt-10 text-yellow-300 underline hover:text-stone-950 hover:bg-yellow-500 hover:no-underline text-2xl  px-2">Apple Music &rarr;</a>
    </li>
    <li>
      <a href="https://stuxnet.bandcamp.com/album/foxfires-kybalion" target="_blank" class="bg-stone-950 mt-10 text-yellow-300 underline hover:text-stone-950 hover:bg-yellow-500 hover:no-underline text-2xl  px-2">Bandcamp &rarr;</a>
    </li>
    <li>
      <a href="https://www.deezer.com/us/album/711748271" target="_blank" class="bg-stone-950 mt-10 text-yellow-300 underline hover:text-stone-950 hover:bg-yellow-500 hover:no-underline text-2xl  px-2">Deezer &rarr;</a>
    </li>
    <li>
      <a href="https://www.iheart.com/artist/stuxnet-610225/albums/     <li>foxfires-kybalion-313385710/" target="_blank" class="bg-stone-950 mt-10 text-yellow-300 underline hover:text-stone-950 hover:bg-yellow-500 hover:no-underline text-2xl  px-2">iHeartRadio &rarr;</a>
    </li>
    <li>
      <a href="https://open.spotify.com/album/7mh0Vr0dbBsndXQEHMPrmq" target="_blank" class="bg-stone-950 mt-10 text-yellow-300 underline hover:text-stone-950 hover:bg-yellow-500 hover:no-underline text-2xl  px-2">Spotify &rarr;</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=wr4PfhW2S3g" target="_blank" class="bg-stone-950 mt-10 text-yellow-300 underline hover:text-stone-950 hover:bg-yellow-500 hover:no-underline text-2xl  px-2">YouTube &rarr;</a>
    </li>
  </ul>
</div>
