---
layout: base.liquid
permalink: /
---
<div class="bg-red-robin -mx-2 -my-2 flex h-[400px] flex-col gap-5 bg-cover bg-no-repeat md:h-[800px] ">
  <div class="mx-2 my-2 md:mx-8 md:my-8">
    <span class="bg-slate-950 text-2xl font-semibold !leading-[2rem] md:!leading-[3.25rem] lg:!leading-[4.75rem] text-stone-50 md:text-4xl lg:text-6xl"
      ><span class="font-serif">&ldquo;</span> We build our computer systems the way we build our cities: over time,
      without a plan, on top of ruins.<span class="font-serif">&rdquo;</span>
      &mdash;
      <a
        class="text-yellow-300 underline hover:text-yellow-500 hover:no-underline"
        href="https://en.wikipedia.org/wiki/Ellen_Ullman"
        target="_blank"
        >Ellen Ullman</a
      ></span
    >
  </div>
</div>
