---
layout: base.liquid
permalink: /
---
<div class="-mx-2 -my-2  grid h-[400px] grid-cols-1 place-content-center gap-4 bg-foxfires bg-cover bg-no-repeat p-2 text-center md:h-[800px] xl:h-[1000px]">
  <h3>
    <span class="text-md bg-stone-950 px-2 font-semibold italic  text-stone-300">New Original Music from STUXNET</span>
  </h3>
  <h2>
    <span class="bg-stone-950 px-2 text-4xl font-semibold text-red-500  lg:text-6xl">FOXFIRES / KYBALION</span>
  </h2>
  <p>
    <span class="text-md bg-stone-950 px-2 font-serif font-semibold italic text-stone-300"
      >"Written while my city burned."</span
    >
  </p>
  <ul>
    <li>
      <a
        href="https://www.amazon.com/dp/B0DWWZ3JRF"
        target="_blank"
        class="mt-10 bg-stone-950 px-2 text-2xl text-yellow-300 underline hover:bg-yellow-500 hover:text-stone-950  hover:no-underline"
        >Amazon &rarr;</a
      >
    </li>
    <li>
      <a
        href="https://music.apple.com/us/album/foxfires-kybalion-ep/1796608668"
        target="_blank"
        class="mt-10 bg-stone-950 px-2 text-2xl text-yellow-300 underline hover:bg-yellow-500 hover:text-stone-950  hover:no-underline"
        >Apple Music &rarr;</a
      >
    </li>
    <li>
      <a
        href="https://stuxnet.bandcamp.com/album/foxfires-kybalion"
        target="_blank"
        class="mt-10 bg-stone-950 px-2 text-2xl text-yellow-300 underline hover:bg-yellow-500 hover:text-stone-950  hover:no-underline"
        >Bandcamp &rarr;</a
      >
    </li>
    <li>
      <a
        href="https://www.deezer.com/us/album/711748271"
        target="_blank"
        class="mt-10 bg-stone-950 px-2 text-2xl text-yellow-300 underline hover:bg-yellow-500 hover:text-stone-950  hover:no-underline"
        >Deezer &rarr;</a
      >
    </li>
    <li>
      <a
        href="https://www.iheart.com/artist/stuxnet-610225/albums/     <li>foxfires-kybalion-313385710/"
        target="_blank"
        class="mt-10 bg-stone-950 px-2 text-2xl text-yellow-300 underline hover:bg-yellow-500 hover:text-stone-950  hover:no-underline"
        >iHeartRadio &rarr;</a
      >
    </li>
    <li>
      <a
        href="https://open.spotify.com/album/7mh0Vr0dbBsndXQEHMPrmq"
        target="_blank"
        class="mt-10 bg-stone-950 px-2 text-2xl text-yellow-300 underline hover:bg-yellow-500 hover:text-stone-950  hover:no-underline"
        >Spotify &rarr;</a
      >
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?v=wr4PfhW2S3g"
        target="_blank"
        class="mt-10 bg-stone-950 px-2 text-2xl text-yellow-300 underline hover:bg-yellow-500 hover:text-stone-950  hover:no-underline"
        >YouTube &rarr;</a
      >
    </li>
  </ul>
</div>
