@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: theme('colors.stone.950');
}

.container {
  background: white;
}

.from-markdown {
  img,
  p {
    @apply mb-2;
  }
  img {
    @apply h-auto w-full;
  }
}

main,
footer {
  a {
    color: theme('colors.blue.700');
    text-decoration: underline;
  }

  a:hover {
    color: theme('colors.blue.900');
    text-decoration: none;
  }
}

::selection {
  background: yellow;
  color: black;
}

@layer utilities {
  .spectrum {
    background: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      lime,
      cyan,
      blue,
      indigo,
      violet,
      white,
      black
    );
    background-size: 600% 600%;
    animation: spectrumAnimation 48s linear infinite;
  }
}

@keyframes spectrumAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
