@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'GoudyTextMTStd';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/GoudyTextMTStd.woff2') format('woff2');
  }
}

body {
  @apply bg-slate-950;
}

.home-grid {
  a {
    @apply h-full w-full cursor-pointer;
    img {
      @apply h-full w-full object-cover transition-opacity;
    }
  }
}

.content {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  img,
  ul,
  ol,
  code,
  pre,
  iframe {
    @apply mb-2;
  }
  img {
    @apply h-auto w-full;
    &.about-logo {
      @apply my-2 max-w-[200px];
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-xl;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  ul,
  ol {
    @apply text-slate-50;
  }
  a {
    @apply text-yellow-300 underline;
  }
  a:hover {
    @apply text-yellow-500 no-underline;
  }
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  ul,
  ol {
    list-style-position: inside;
  }
  pre,
  code {
    @apply overflow-scroll rounded border border-solid border-yellow-300 bg-slate-800 text-yellow-300;
  }
  pre,
  code {
    @apply px-2 py-2;
  }
  pre code {
    @apply border-none px-0 py-0;
  }
  blockquote {
    @apply ml-2 border-l-2 border-solid border-slate-400 pl-2;
  }
  p {
    @apply w-full md:w-2/3 lg:w-3/5;
    code {
      @apply p-[2px];
    }
  }
}

.release-notes,
.release-credits {
  p {
    @apply mb-2;
  }
}

footer {
  a {
    @apply text-blue-700 underline;
  }
  a:hover {
    @apply text-blue-900 no-underline;
  }
}

::selection {
  @apply bg-yellow-300 text-slate-950;
}

@layer utilities {
  .spectrum {
    background: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      lime,
      cyan,
      blue,
      indigo,
      violet,
      white,
      black
    );
    background-size: 600% 600%;
    animation: spectrumAnimation 48s linear infinite;
  }
}

@keyframes spectrumAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
