---
layout: abstract.liquid
discographyPages: collections.discographyPages
---
{% render nav, site: site, page: page, post: post, navigation: navigation %}
<main class="container">
  {{ content }}
</main>
{% render footer, site: site, page: page, post: post %}
