---
layout: abstract.liquid
discographyPages: collections.discographyPages
---
{% render nav, site: site, page: page, post: post, navigation: navigation %}
<main class="container overflow-hidden border-l-4 border-r-4 border-solid border-stone-950">
  {{ content }}
</main>
{% render footer, site: site, page: page, post: post %}
