---
layout: abstract.liquid
discographyPages: collections.discographyPages
---
{% render nav, site: site, page: page, post: post %}
<main class="container border-l-4 border-r-4 border-solid border-stone-950 p-2">
  {{ content }}
</main>
{% render footer, site: site, page: page, post: post %}
