<!doctype html>
<html lang="en">
  <head>
    <title>{% getTitle title %}</title>
    {% render metaTags, site: site, page: page, post: post, release: release, project: project, content: content, title: title, ogType: ogType %}
    <link rel="stylesheet" href="/styles/tailwind.css?ver={% getTimestamp %}">
  </head>
  <body>
    <a href="#main" class="skip-link">Skip to main content</a>
    {% render nav, site: site, page: page, post: post, navigation: navigation %}
    <main id="main" class="container mx-auto">
      {{ content }}
    </main>
    {% render footer, site: site, page: page, post: post %}
  </body>
</html>
