---
layout: base.liquid
---
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 border-y-2 border-solid border-stone-950 text-stone-950">
  {% for group in collections.postsByYear %}
    <div
      class="
        border-t-2 border-stone-950 border-solid

        md:border-r-4

        md:[&:nth-child(2n+1)]:border-l-0
        md:[&:nth-child(2)]:border-r-0

        xl:[&:nth-child(2)]:border-r-4
        xl:[&:nth-child(4n+1)]:border-l-0
        xl:[&:nth-child(4n)]:border-r-0
      "
    >
      <h2 class="p-2 text-4xl font-bold bg-stone-50 border-b-2 border-stone-950 border-solid">
        {{ group.year }}
      </h2>
      <ul class="list-none">
        {% for post in group.posts %}
          <li>
            <a
              href="{{ post.url }}"
              class="block p-2 border-y-2 border-solid border-stone-950 bg-stone-50 hover:underline hover:bg-red-500 hover:text-stone-50"
            >
              <span class="font-semibold">{{ post.data.title }}</span><br>
              <span class="text-sm no-underline">{{ post.data.date | date: '%B %d, %Y' }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
