---
layout: base.liquid
---
<div class="post my-1 bg-stone-50 p-2">
  {{ content }}
  <ul class="grid list-none grid-cols-1 p-0 md:grid-cols-2 xl:grid-cols-4">
    {% for link in links %}
      <li class="mb-2">
        <a
          href="{{ link.url }}"
          target="_blank"
        >
          {{- link.title -}}
        </a>
      </li>
    {% endfor %}
  </ul>
  <a href="https://webring.xxiivv.com/" class="block w-[128px]"
    ><img src="https://webring.xxiivv.com/icon.black.svg"
  ></a>
  <p>
    This <a href="https://webring.xxiivv.com">webring</a> is an attempt to inspire artists &amp; developers to build
    their own website and share traffic among each other. The ring welcomes personalized websites such as diaries, wikis
    &amp; portfolios.
  </p>
  <p>
    To add yourself to the ring, submit a <a href="https://github.com/XXIIVV/webring#join-the-webring">pull request</a>.
  </p>
</div>
