---
layout: base.liquid
---
<div class="!max-w-none py-4">
  <h2>Kowloon City: Ｌｅｙｌｉｎｅ</h2>
  <video
    class="mb-10 aspect-video h-auto w-full"
    src="https://d107e1o0dn11sc.cloudfront.net/dj-stuxnet/kowloon-walled-city-giga-mix/mobile-kowloon-city-leyline.mp4"
    controls=""
  ></video>

  <h2>More</h2>
  <iframe
    class="!mb-10 aspect-video h-auto w-full"
    src="https://www.youtube.com/embed/videoseries?si=mdtdrnvnUP0zqNIy&amp;list=PLe1BFUbUceS0P4tJzlW0qEFnOpx4kOr1I"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
