---
layout: base.liquid
---
<div class="bg-stone-50">
  {% render rule %}
  {% render pageTitle, title: title %}
  {% render rule %}
  <ul class="grid list-none grid-cols-1 md:grid-cols-3 xl:grid-cols-5">
    {% for release in collections.discography %}
      <li>
        {% render release, release: release %}
      </li>
    {% endfor %}
  </ul>
</div>