---
layout: base.liquid
---
{% render pageTitle, title: title %}
<div class="content">
<h2>Kowloon City: Ｌｅｙｌｉｎｅ</h2>
<video class="w-full h-auto aspect-video mb-10" src="https://intertext.s3.us-west-1.amazonaws.com/dj-stuxnet/kowloon-walled-city-giga-mix/mobile-kowloon-city-leyline.mp4" controls=""></video>

<h2>Music Videos</h2>
<iframe class="w-full h-auto aspect-video !mb-10" src="https://www.youtube.com/embed/videoseries?si=mdtdrnvnUP0zqNIy&amp;list=PLe1BFUbUceS0P4tJzlW0qEFnOpx4kOr1I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<h2>Music Technology</h2>
<iframe class="w-full h-auto aspect-video !mb-10" src="https://www.youtube.com/embed/videoseries?si=K5cOjwFcBIel_fKk&amp;list=PLe1BFUbUceS0MXSMcspF9k85ttjM4G0Mw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>