---
layout: base.liquid
---
<div class="content mb-10">
  {% render pageTitle, title: title %}
</div>
<div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-5">
  {% for group in collections.postsByYear %}
    <div class="md:pe-2">
      <h2 class="mb-2 text-4xl text-slate-50">{{ group.year }}</h2>
      <ul class="list-none">
        {% for post in group.posts %}
          <li class="mb-2">{% render postLink, post: post %}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
