---
layout: base.liquid
---
<div class="grid bg-stone-950 md:grid-cols-2">
  <div class="content md:pe-5">
    {% render pageTitle, title: title %}
    {{ content }}
    <h2>Community Heuristics</h2>
    <div class="content mb-5 rounded-lg bg-stone-800 px-4 pt-1">
      <h3>General</h3>
      <ol>
        <li>Be kind.</li>
        <li>Assume good faith.</li>
        <li>If something makes you uncomfortable direct message Tyler. I am the only moderator by design.</li>
      </ol>
      <h3>Tone Indicators</h3>
      <p>
        We encourage the use of these <em>tone indicators</em> to help convey intent when communicating. Please see
        below table and this website for more:
        <a href="https://toneindicators.carrd.co/">https://toneindicators.carrd.co/</a>
      </p>
      <table class="table-auto">
        <thead>
          <tr>
            <th>tone indicator</th>
            <th>meaning</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>/j</td>
            <td>joking</td>
          </tr>
          <tr>
            <td>/hj</td>
            <td>half-joking</td>
          </tr>
          <tr>
            <td>/s</td>
            <td>sarcastic</td>
          </tr>
          <tr>
            <td>/gen or /g</td>
            <td>genuine</td>
          </tr>
          <tr>
            <td>/srs</td>
            <td>serious</td>
          </tr>
          <tr>
            <td>/nsrs</td>
            <td>non-serious</td>
          </tr>
          <tr>
            <td>/pos or /pc</td>
            <td>positive connotation</td>
          </tr>
          <tr>
            <td>/neu</td>
            <td>neutral connotation</td>
          </tr>
          <tr>
            <td>/neg or /nc</td>
            <td>negative connotation</td>
          </tr>
          <tr>
            <td>/p</td>
            <td>platonic</td>
          </tr>
          <tr>
            <td>/r</td>
            <td>romantic</td>
          </tr>
          <tr>
            <td>/c</td>
            <td>copypasta</td>
          </tr>
          <tr>
            <td>/l or /ly</td>
            <td>lyrics</td>
          </tr>
          <tr>
            <td>/lh</td>
            <td>light-hearted</td>
          </tr>
          <tr>
            <td>/nm</td>
            <td>not mad</td>
          </tr>
          <tr>
            <td>/lu</td>
            <td>a little upset</td>
          </tr>
          <tr>
            <td>/nbh</td>
            <td>
              for when you're vagueposting or venting, but it's directed at <strong>nobody here</strong> (none of your
              followers)
            </td>
          </tr>
          <tr>
            <td>/nsb</td>
            <td>not subtweeting</td>
          </tr>
          <tr>
            <td>/sx or /x</td>
            <td>sexual intent</td>
          </tr>
          <tr>
            <td>/nsx or /nx</td>
            <td>non-sexual intent</td>
          </tr>
          <tr>
            <td>/rh or /rt</td>
            <td>rhetorical question</td>
          </tr>
          <tr>
            <td>/t</td>
            <td>teasing</td>
          </tr>
          <tr>
            <td>/ij</td>
            <td>inside joke</td>
          </tr>
          <tr>
            <td>/m</td>
            <td>metaphorically</td>
          </tr>
          <tr>
            <td>/li</td>
            <td>literally</td>
          </tr>
          <tr>
            <td>/hyp</td>
            <td>hyperbole</td>
          </tr>
          <tr>
            <td>/f</td>
            <td>fake</td>
          </tr>
          <tr>
            <td>/th</td>
            <td>threat</td>
          </tr>
          <tr>
            <td>/cb</td>
            <td>clickbait</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <a href="/images/460677157_1034116388207433_3199492146196356430_n.png"
      ><img
        src="/images/460677157_1034116388207433_3199492146196356430_n.png"
        alt="The Enchanted Flute Opera by Wolfgang Amadeus Mozart, circa 1815. Painted by Karl Friedrich Schinkel"
    ></a>
  </div>
</div>
