---
layout: base.liquid
---
<div class="content !max-w-none">
  {% render pageTitle, title: title %}
  <h2>Kowloon City: Ｌｅｙｌｉｎｅ</h2>
  <video
    class="mb-10 aspect-video h-auto w-full"
    src="https://intertext.s3.us-west-1.amazonaws.com/dj-stuxnet/kowloon-walled-city-giga-mix/mobile-kowloon-city-leyline.mp4"
    controls=""
  ></video>

  <h2>Music Videos</h2>
  <iframe
    class="!mb-10 aspect-video h-auto w-full"
    src="https://www.youtube.com/embed/videoseries?si=mdtdrnvnUP0zqNIy&amp;list=PLe1BFUbUceS0P4tJzlW0qEFnOpx4kOr1I"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <h2>Music Technology</h2>
  <iframe
    class="!mb-10 aspect-video h-auto w-full"
    src="https://www.youtube.com/embed/videoseries?si=K5cOjwFcBIel_fKk&amp;list=PLe1BFUbUceS0MXSMcspF9k85ttjM4G0Mw"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
