---
layout: base.liquid
---
<div class="grid grid-cols-1 xl:grid-cols-4">
  <div class="mb-10 xl:col-span-3">
    <div class="content">
      <h1 class="mb-1 text-4xl text-stone-50">{{ title }}</h1>
      {{ content }}
    </div>
  </div>
</div>
