<!doctype html>
<html lang="en">
  <head>
    {% render metaTags, site: site %}
    <link rel="stylesheet" href="/styles.css?ver={% getTimestamp %}">
    <title>{% getTitle title %}</title>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>
  </head>
  <body>
    {% render nav, site: site, page: page, post: post %}
    <main class="container border-l-4 border-r-4 border-solid border-stone-950 bg-stone-50 px-2 pt-2 pb-10">
      <p class="text-center py-1 text-stone-500">
        Search the entire Northern Information site.
        <br/>
        <span class=" italic">Last indexed: {{ site.META.BUILD_TIME }}</span>
        <br/>
        &#8258;
      </p>
      <div id="search" class="p-4"></div>
      <script>
          window.addEventListener('DOMContentLoaded', (event) => {
              new PagefindUI({ element: "#search", showSubResults: true });
          });
      </script>
    </main>
    {% render footer, site: site, page: page, post: post %}
  </body>
</html>
