---
layout: page.liquid
---
<div class="page-about content grid bg-stone-950 md:grid-cols-2">
  <div>
    {{ content }}
  </div>
  <div class="">
    <a href="/images/abstraction-tyler-1235x.png"><img src="/images/abstraction-tyler-1235x.png" alt="Tyler Etters"></a>
  </div>
</div>
