---
layout: base.liquid
---
<div class="grid bg-slate-950 md:grid-cols-2">
  <div class="content md:pe-5">
    {% render pageTitle, title: title %}
    {{ content }}
  </div>
  <div>
    <a href="/images/460677157_1034116388207433_3199492146196356430_n.png"><img src="/images/460677157_1034116388207433_3199492146196356430_n.png" alt="The Enchanted Flute Opera by Wolfgang Amadeus Mozart, circa 1815. Painted by Karl Friedrich Schinkel"></a>
  </div>
</div>
