---
layout: base.liquid
---
{% render pageTitle, title: title %}
{% render discographyToggle, isList: true %}
<ul class="list-none">
  {% for release in collections.discographyPages %}
    <li class="mb-5 flex justify-center">
      {% render releaseList, release: release, isLink: true %}
    </li>
  {% endfor %}
</ul>
