---
layout: base.liquid
---
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 border-2 border-solid border-stone-950 text-stone-950">
  <div class="post bg-stone-50 xl:col-span-3 p-2 border-2 border-solid border-stone-950">
      <time datetime="{{ page.date | date: '%Y-%m-%d' }}">
        {{- page.date | date: '%B %d, %Y' -}}
      </time>
      <h1 class="mb-1 text-4xl">{{ title }}</h1>
      {{ content }}
  </div>
  {% assign postDate = page.date | date: '%Y' %}
  {% for group in collections.postsByYear %}
    {% if postDate == group.year %}
        <ul class="list-none">
          {% for post in group.posts %}
            {% assign thisPost = post.url == page.url %}
            <li>
              {% render postLink, post: post, thisPost: thisPost %}
            </li>
          {% endfor %}
        </ul>
    {% endif %}
  {% endfor %}
</div>
