---
layout: base.liquid
---
{% assign postDate = page.date | date: '%Y' %}
<div class="grid grid-cols-1 xl:grid-cols-4">
  <div class="mb-10 xl:col-span-3">
    <div class="content">
      <time datetime="{{ page.date | date: '%Y-%m-%d' }}" class="text-stone-300">{{ page.date | date: '%B %d, %Y' }}</time>
      <h1 class="mb-1 text-4xl text-stone-50">{{ title }}</h1>
      {{ content }}
    </div>
  </div>
  {% for group in collections.postsByYear %}
    {% if postDate == group.year %}
      <div class="mb-10">
        <ul class="list-none">
          {% for post in group.posts %}
            {% assign thisPost = post.url == page.url %}
            <li class="mb-2">
              {% render postLink, post: post, thisPost: thisPost %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endfor %}
</div>
