<!doctype html>
<html lang="en">
  <head>
    <title>{% getTitle title %}</title>
    {% render metaTags, site: site %}
    <link rel="stylesheet" href="/styles/tailwind.css?ver={% getTimestamp %}">
    <link href="/styles/pagefind.css?ver={% getTimestamp %}" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>
    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: '#search', showSubResults: true })
      })
    </script>
  </head>
  <body>
    {% render nav, site: site, page: page, post: post, navigation: navigation %}
    <main class="container mx-auto">
      <div class="overflow-hidden text-center border-4 border-solid border-black p-2 pb-10">
        <p class="font-mono">
          Search the entire Northern Information site.
          <br>
          Last indexed: {{ site.META.BUILD_TIME | dateToUTCFull }}
          <br>
        </p>
        <p>
          &#8258;
        </p>
        <noscript>
          <p class="text-center py-4">JavaScript is required for search.</p>
        </noscript>
          <div id="search"></div>
      </div>
    </main>
    {% render footer, site: site, page: page, post: post %}
  </body>
</html>
